In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings
warnings.filterwarnings(action= 'ignore')

In [2]:
# file path

file_path = 'C:\Analytix labs files\Python\Case Study//Python Foundation End to End Case Study E-Commerce Analytics Project//5. Python Foundation End to End Case Study_E-Commerce Analytics Project//'

In [3]:
# file names

file_name_1 = 'CUSTOMERS.csv'
file_name_2 = 'SELLERS.csv'
file_name_3 = 'PRODUCTS.csv'
file_name_4 = 'ORDERS.csv'
file_name_5 = 'ORDER_ITEMS.csv'
file_name_6 = 'ORDER_PAYMENTS.csv'
file_name_7 = 'ORDER_REVIEW_RATINGS.csv'
file_name_8 = 'GEO_LOCATION.csv'

In [4]:
# reading all csv files and naming the files

customers = pd.read_csv(file_path + file_name_1)
sellers = pd.read_csv(file_path + file_name_2)
products = pd.read_csv(file_path + file_name_3)
orders = pd.read_csv(file_path + file_name_4)
order_items = pd.read_csv(file_path + file_name_5)
order_payments = pd.read_csv(file_path + file_name_6)
order_review_ratings = pd.read_csv(file_path + file_name_7)
geo_location = pd.read_csv(file_path + file_name_8)

In [5]:
# checking shape and nulls of each table

cust_info = customers.info()
sellers_info = sellers.info()
products_info = products.info()
orders_info = orders.info()
order_items_info = order_items.info()
order_payments_info = order_payments.info()
order_review_ratings_info = order_review_ratings.info()
geo_location_info = geo_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3038 non-null   object
 3   seller_state            3038 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32328 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_creation_date     100000 non-null  object
 4   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  float64
 1   geolocation_lat              19015 non-null  float64
 2   geolocation_lng              19015 non-null  float64
 3   geolocation_city             19015 non-null  object
 4   geolocation_state            19015 non-null  object
dtypes: float64(3), object(2)
memory usage: 742.9+ KB

In [6]:
# checking for duplicates row wise

cust_dup = customers.duplicated().sum()
sellers_dup = sellers.duplicated().sum()
products_dup = products.duplicated().sum()
orders_dup = orders.duplicated().sum()
order_items_dup = order_items.duplicated().sum()
order_payments_dup = order_payments.duplicated().sum()
order_review_ratings_dup = order_review_ratings.duplicated().sum()
geo_location_dup = geo_location.duplicated().sum()


print(f'customers : {cust_dup} , sellers : {sellers_dup} , products : {products_dup} , orders = {orders_dup} , order_items : {order_items_dup} , order_payments : {order_payments_dup} , order_review_ratings : {order_review_ratings_dup} , geo_location : {geo_location_dup}')

customers : 0 , sellers : 0 , products : 0 , orders = 0 , order_items : 0 , order_payments : 0 , order_review_ratings : 0 , geo_location : 0

In [7]:
# converting string datetime to datetime in orders table


columns_to_convert = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

for column in columns_to_convert:
    orders[column] = pd.to_datetime(orders[column], format='%m/%d/%Y %H:%M')

In [8]:
# converting string datetime to datetime in order_items table

order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'],format='%m/%d/%Y %H:%M')

In [9]:
# converting string datetime to datetime in order_review_ratings table

columns_to_convert = ['review_creation_date','review_answer_timestamp']

for column in columns_to_convert:
    order_review_ratings[column ] = pd.to_datetime(order_review_ratings[column] , format = '%m/%d/%Y %H:%M')

a. Define & calculate high level metrics like (Total Revenue, Total quantity, Total 
products, Total categories, Total sellers, Total locations, Total channels, Total 
payment methods etc…)

a. Total Revenue

In [10]:
# we l merge orders table and order payments to get the total customer revenue including product and freight values included

order_payments_merge = pd.merge(left = orders , right = order_payments , left_on = 'order_id' , right_on = 'order_id' , how = 'left')

# filtering only products which are delivered,invoiced,shipped,processing,created,approved

order_payments_merge = order_payments_merge.loc[order_payments_merge['order_status'].isin(['delivered', 'invoiced', 'shipped', 'processing','created', 'approved'])]

Total_Revenue = order_payments_merge['payment_value'].sum()

print(f'The total revenue is {Total_Revenue}')

The total revenue is 15739137.01

b. Total quantity

In [11]:
# we l merge orders table and order items to get the quantity of products sold

order_items_merge = pd.merge(left = orders , right = order_items , left_on = 'order_id' , right_on = 'order_id' , how = 'left')

# filtering only products which are delivered,invoiced,shipped,processing,created,approved

order_items_merge = order_items_merge.loc[order_items_merge['order_status'].isin(['delivered', 'invoiced', 'shipped', 'processing','created', 'approved'])]

Total_quantity = order_items_merge['order_item_id'].sum()

print(f'The total quantity is {Total_quantity}')

The total quantity is 134224.0

c. Total products

In [12]:
# we l merge orders table and order_items and products to get the total products sold

order_items_products_merge = pd.merge(left = order_items_merge , right = products , left_on = 'product_id' , right_on = 'product_id' , how = 'left')

# filtering only products which are delivered,invoiced,shipped,processing,created,approved

order_items_products_merge = order_items_products_merge.loc[order_items_products_merge['order_status'].isin(['delivered', 'invoiced', 'shipped', 'processing','created', 'approved'])]

Total_products = order_items_products_merge['product_id'].nunique()

print(f'The total products is {Total_products}')

The total products is 32729

d. Total categories

In [13]:
Total_categories = order_items_products_merge['product_category_name'].nunique()

print(f'The Total categories sold till date is {Total_categories}')

The Total categories sold till date is 71

e . Total sellers

In [14]:
Total_Sellers = sellers['seller_id'].nunique()
print(f'The Total sellers sold till date is {Total_Sellers}')

The Total sellers sold till date is 3095

f . Total Locations

In [15]:
Total_Locations = geo_location['geolocation_zip_code_prefix'].nunique()

print(f'There are {Total_Locations} locations where customer and seller are situated')

There are 19015 locations where customer and seller are situated

g. Total payment methods

In [16]:
Total_Payments = order_payments.loc[order_payments['payment_type']!='not_defined','payment_type'].nunique()

print(f'There are {Total_Payments} payments methods')

There are 4 payments methods

b. Understanding how many new customers acquired every month

In [17]:
orders_cust = pd.merge(left = orders , right = customers , left_on = 'customer_id' , right_on = 'customer_id' , how = 'left')

# creating a year-month column to group by months

orders_cust['year_month'] = orders_cust['order_purchase_timestamp'].dt.to_period('M')

new_customers = orders_cust.groupby(['year_month', 'customer_unique_id']).nth(0).reset_index()

new_customers_count = new_customers.groupby('year_month').size().reset_index(name='new_customers_count')

new_customers_count

   year_month  new_customers_count
0     2016-09                    4
1     2016-10                  321
2     2016-12                    1
3     2017-01                  765
4     2017-02                 1755
5     2017-03                 2642
6     2017-04                 2372
7     2017-05                 3625
8     2017-06                 3180
9     2017-07                 3947
10    2017-08                 4246
11    2017-09                 4212
12    2017-10                 4561
13    2017-11                 7430
14    2017-12                 5603
15    2018-01                 7166
16    2018-02                 6569
17    2018-03                 7115
18    2018-04                 6882
19    2018-05                 6814
20    2018-06                 6128
21    2018-07                 6230
22    2018-08                 6460
23    2018-09                   14
24    2018-10                    4

c. Understand the retention of customers on month on month basis

In [18]:
orders_cust['cohort'] = orders_cust.groupby(by = 'customer_unique_id')['year_month'].transform(min)

cohort = orders_cust.groupby(by = ['year_month' , 'cohort']).agg({'customer_unique_id' : 'nunique'}).reset_index()

cohort['retention_rate'] = cohort['customer_unique_id'] / cohort.groupby('cohort')['customer_unique_id'].transform('first') * 100

retention_matrix = cohort.pivot_table(index='cohort', columns='year_month', values='retention_rate')

retention_matrix.fillna(0,inplace=True)

retention_matrix

year_month,2016-09,2016-10,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,...,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10
cohort,,,,,,,,,,,,,,,,,,,,,
2016-09,100.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-10,0.0,100.0,0.0,0.0,0.00000,0.000000,0.311526,0.000000,0.000000,0.311526,...,0.311526,0.000000,0.311526,0.000000,0.623053,0.623053,0.000000,0.000000,0.000000,0.000000
2016-12,0.0,0.0,100.0,100.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01,0.0,0.0,0.0,100.0,0.39267,0.261780,0.130890,0.392670,0.130890,0.523560,...,0.785340,0.392670,0.130890,0.130890,0.261780,0.392670,0.000000,0.130890,0.000000,0.000000
2017-02,0.0,0.0,0.0,0.0,100.00000,0.228311,0.285388,0.114155,0.399543,0.114155,...,0.285388,0.171233,0.171233,0.114155,0.057078,0.057078,0.228311,0.000000,0.000000,0.000000
2017-03,0.0,0.0,0.0,0.0,0.00000,100.000000,0.493171,0.379363,0.379363,0.341426,...,0.379363,0.151745,0.227618,0.113809,0.151745,0.227618,0.075873,0.151745,0.000000,0.000000
2017-04,0.0,0.0,0.0,0.0,0.00000,0.000000,100.000000,0.595238,0.212585,0.170068,...,0.170068,0.255102,0.085034,0.085034,0.042517,0.085034,0.085034,0.212585,0.000000,0.000000
2017-05,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,100.000000,0.500556,0.500556,...,0.250278,0.305895,0.250278,0.333704,0.250278,0.027809,0.194661,0.250278,0.000000,0.000000
2017-06,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,100.000000,0.477859,...,0.223001,0.127429,0.223001,0.318573,0.350430,0.159286,0.127429,0.191144,0.000000,0.000000
2017-07,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,100.000000,...,0.308166,0.102722,0.179764,0.256805,0.231125,0.308166,0.128403,0.256805,0.000000,0.000000
2017-08,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.525813,0.286807,0.262906,0.143403,0.143403,0.239006,0.191205,0.095602,0.000000,0.000000
2017-09,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.460048,0.217918,0.217918,0.242131,0.290557,0.169492,0.266344,0.072639,0.000000,0.000000
2017-10,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.089485,0.223714,0.201342,0.223714,0.357942,0.268456,0.201342,0.201342,0.000000,0.000000
2017-11,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.383352,0.177985,0.191676,0.177985,0.109529,0.191676,0.136911,0.054765,0.000000,0.000000
2017-12,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.255149,0.273373,0.346273,0.273373,0.200474,0.164024,0.054675,0.218699,0.000000,0.000000
2018-01,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.000000,0.341637,0.384342,0.284698,0.284698,0.156584,0.170819,0.227758,0.000000,0.000000
2018-02,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,100.000000,0.387537,0.387537,0.294528,0.263525,0.217021,0.201519,0.000000,0.000000
2018-03,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,100.000000,0.459440,0.315865,0.287150,0.129218,0.129218,0.000000,0.000000
2018-04,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.000000,0.581135,0.312919,0.238415,0.134108,0.000000,0.000000
2018-05,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.528541,0.271821,0.211416,0.000000,0.000000
2018-06,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.420875,0.286195,0.000000,0.016835
2018-07,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.724757,0.032944,0.000000
2018-08,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.111625,0.031893
2018-09,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000
2018-10,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000

d. How the revenues from existing/new customers on month on month basis

In [19]:
# merge
orders_cust_payments = pd.merge(left = orders_cust , right = order_payments , left_on = 'order_id' , right_on = 'order_id' ,how = 'left')

# groupby
monthly_revenues = orders_cust_payments.groupby(['year_month', 'customer_unique_id'])['payment_value'].sum().reset_index()

# roupby with min dates
monthly_revenues['first_purchase_month'] = monthly_revenues.groupby('customer_unique_id')['year_month'].transform('min')

monthly_revenues['customer_type'] = 'Existing'
monthly_revenues.loc[monthly_revenues['year_month'] == monthly_revenues['first_purchase_month'], 'customer_type'] = 'New'

total_revenue = monthly_revenues.groupby(by = ['year_month' , 'customer_type']).agg(revenue = ('payment_value', 'sum')).reset_index()

pivot_table = total_revenue.pivot_table(index='year_month', columns='customer_type', values='revenue', aggfunc='sum')

pivot_table.fillna(0,inplace=True)

pivot_table

customer_type  Existing         New
year_month
2016-09            0.00      252.24
2016-10            0.00    59090.48
2016-12            0.00       19.62
2017-01           19.62   138468.42
2017-02          170.83   291737.18
2017-03          650.82   449212.78
2017-04         2566.60   415221.43
2017-05         5324.21   587594.61
2017-06         6031.20   505245.18
2017-07        10194.69   582188.23
2017-08        11405.56   662990.76
2017-09        12324.50   715437.95
2017-10        13878.26   765799.62
2017-11        18175.96  1176706.84
2017-12        19177.57   859223.91
2018-01        22673.56  1092330.62
2018-02        16715.90   975747.44
2018-03        21201.09  1138451.03
2018-04        26968.24  1133817.24
2018-05        29298.35  1124683.80
2018-06        30592.94   993287.56
2018-07        24971.35  1041569.40
2018-08        32858.16   989567.16
2018-09         1363.19     3076.35
2018-10          499.96       89.71

e. Understand the trends/seasonality of sales, quantity by category, location, month, 
week, day, time, channel, payment method etc…

In [20]:
# merging tables orders , order_items , ordder_payments and products

ord_pay = pd.merge(left = orders , right = order_payments , left_on = 'order_id' , right_on = 'order_id' ,how = 'left')
ord_pay_items = pd.merge(left = ord_pay , right = order_items , left_on = 'order_id' , right_on = 'order_id' , how = 'left')
ord_pay_items = pd.merge(left=ord_pay_items , right=customers , left_on='customer_id' , right_on='customer_id' ,how ='left')
ord_pay_items_prod = pd.merge(left = ord_pay_items , right = products , left_on = 'product_id' , right_on = 'product_id' , how ='left')


# creating ordered_year, ordered_month , ordered_week , orderd_day , ordered_hour

ord_pay_items_prod['ordered_year'] = ord_pay_items_prod['order_purchase_timestamp'].dt.year
ord_pay_items_prod['ordered_month'] = ord_pay_items_prod['order_purchase_timestamp'].dt.month
ord_pay_items_prod['ordered_week'] = ord_pay_items_prod['order_purchase_timestamp'].dt.isocalendar().week
ord_pay_items_prod['ordered_day'] = ord_pay_items_prod['order_purchase_timestamp'].dt.day
ord_pay_items_prod['ordered_hour'] = ord_pay_items_prod['order_purchase_timestamp'].dt.hour

# creating revenue for products without freight charges

ord_pay_items_prod['prod_value'] = ord_pay_items_prod['price'] * ord_pay_items_prod['order_item_id']

#filtering only products which are delivered,invoiced,shipped,processing,created,approved

ord_pay_items_prod = ord_pay_items_prod.loc[ord_pay_items_prod['order_status'].isin(['delivered', 'invoiced', 'shipped', 'processing','created', 'approved'])]

# BY MONTHLY

a.sales by category

In [21]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_year','ordered_month']).agg(revenue = ('prod_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                    product_category_name  revenue                      \
ordered_year                                  2017
ordered_month                                    1         2         3
0              Agro_Industry_And_Commerce    87.96    268.82     81.99
1                        Air_Conditioning   813.60   3204.30   4513.71
2                                     Art     0.00      0.00    279.25
3                   Arts_And_Craftmanship     0.00      0.00      0.00
4                                   Audio     0.00    213.60   1213.77
..                                    ...      ...       ...       ...
66                             Stationery  2835.75   2471.30   6034.12
67                 Tablets_Printing_Image     0.00    792.00    495.00
68                              Telephony  3140.23   8146.68   8680.65
69                                   Toys  4779.09   9929.77  12714.25
70                          Watches_Gifts  8086.52  12041.17  25610.28

                                                                           \
ordered_year
ordered_month         5         6         7         8         9        10
0               1579.94   1390.00   1180.00    220.00   2391.99   3350.28
1               1105.77   2701.28   1396.10   5885.03   1629.15   3934.46
2               6967.65   1001.20    386.75    244.70    388.54    349.05
3                 43.98      0.00    129.90      0.00      0.00      0.00
4               2081.18   1671.00    771.69   1080.60   1272.58   2427.48
..                  ...       ...       ...       ...       ...       ...
66              6598.57   3562.47   7618.34   6677.21   6472.30   9416.48
67              1613.98    792.00    198.00    648.89    233.90     99.00
68             10371.02   9522.77  10330.54  11137.18  20289.84  27312.38
69             23238.13  15787.25  25991.81  20177.28  34111.90  37255.39
70             42457.25  30620.29  37565.39  38536.19  51412.19  72181.19

               ...                                                       \
ordered_year   ...       2018
ordered_month  ...          4          5         6          7         8
0              ...    4500.70    3279.75   3515.80    8732.19   5781.49
1              ...    3421.69    2036.30   7557.90    2886.86   4236.70
2              ...    2140.28    2778.85   2600.13    1943.19   1790.37
3              ...      15.99      89.80      0.00     694.47    901.76
4              ...    7764.46    2767.58   1904.59    2077.54   2399.90
..             ...        ...        ...       ...        ...       ...
66             ...   13671.40   13731.07  14995.36   18939.05  16698.63
67             ...      52.00      49.90     50.00       0.00      0.00
68             ...   20987.32   22373.19  26844.69   28522.30  50626.96
69             ...   24012.90   32622.67  26268.57   18701.48  19942.14
70             ...  105515.61  133748.29  93552.94  101640.45  79311.13


ordered_year      2016      2017 2016      2018
ordered_month       10         4   12    9    9
0                 0.00      0.00  0.0  0.0  0.0
1              2935.29   2781.03  0.0  0.0  0.0
2                 0.00    119.90  0.0  0.0  0.0
3                 0.00      0.00  0.0  0.0  0.0
4               156.99   1211.90  0.0  0.0  0.0
..                 ...       ...  ...  ...  ...
66                0.00   4606.34  0.0  0.0  0.0
67                0.00   1325.78  0.0  0.0  0.0
68              300.08   8069.63  0.0  0.0  0.0
69             4421.39  14332.29  0.0  0.0  0.0
70             3360.24  26026.97  0.0  0.0  0.0

[71 rows x 25 columns]

b.quantity by category

In [22]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_year','ordered_month']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                    product_category_name revenue                              \
ordered_year                                 2017
ordered_month                                   1      2      3      5      6
0              Agro_Industry_And_Commerce     4.0    9.0    2.0    4.0    1.0
1                        Air_Conditioning     5.0   13.0   19.0    9.0   14.0
2                                     Art     0.0    0.0    7.0    8.0   27.0
3                   Arts_And_Craftmanship     0.0    0.0    0.0    2.0    0.0
4                                   Audio     0.0    7.0   15.0   17.0   11.0
..                                    ...     ...    ...    ...    ...    ...
66                             Stationery    30.0   21.0   61.0   75.0   39.0
67                 Tablets_Printing_Image     0.0    8.0    5.0    8.0    8.0
68                              Telephony    31.0  128.0  185.0  249.0  180.0
69                                   Toys    43.0   74.0  107.0  209.0  163.0
70                          Watches_Gifts    11.0   42.0   97.0  153.0  136.0

                                           ...                              \
ordered_year                               ...   2018
ordered_month      7      8      9     10  ...      4      5      6      7
0                1.0   10.0    5.0    5.0  ...   12.0    8.0   10.0   32.0
1                5.0   19.0    7.0   18.0  ...   24.0   15.0   36.0   19.0
2                3.0    4.0    3.0    3.0  ...   26.0   38.0   29.0   22.0
3                1.0    0.0    0.0    0.0  ...    1.0    1.0    0.0   12.0
4                7.0    8.0   11.0   32.0  ...   34.0   23.0   22.0   23.0
..               ...    ...    ...    ...  ...    ...    ...    ...    ...
66              89.0   87.0   83.0  120.0  ...  203.0  142.0  209.0  228.0
67               2.0    8.0    3.0    1.0  ...    1.0    1.0    1.0    0.0
68             170.0  142.0  192.0  296.0  ...  417.0  277.0  255.0  251.0
69             226.0  212.0  342.0  325.0  ...  219.0  234.0  223.0  174.0
70             197.0  245.0  303.0  374.0  ...  576.0  709.0  553.0  571.0


ordered_year          2016   2017 2016      2018
ordered_month      8    10      4   12    9    9
0               23.0   0.0    0.0  0.0  0.0  0.0
1               26.0  18.0   18.0  0.0  0.0  0.0
2               21.0   0.0    1.0  0.0  0.0  0.0
3                9.0   0.0    0.0  0.0  0.0  0.0
4               33.0   2.0   14.0  0.0  0.0  0.0
..               ...   ...    ...  ...  ...  ...
66             183.0   0.0   36.0  0.0  0.0  0.0
67               0.0   0.0   14.0  0.0  0.0  0.0
68             360.0  10.0  155.0  0.0  0.0  0.0
69             193.0  26.0  129.0  0.0  0.0  0.0
70             460.0   5.0  121.0  0.0  0.0  0.0

[71 rows x 25 columns]

c.sales by location

In [23]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_year','ordered_month']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                  customer_state revenue                              \
ordered_year                        2016                        2017
ordered_month                          9        10     12          1
0                 Andhra Pradesh    0.00  43716.60  19.62  107900.05
1              Arunachal Pradesh    0.00    886.37   0.00    3317.19
2                   Chhattisgarh    0.00   3474.00   0.00   10298.99
3                          Delhi    0.00   1661.97   0.00    4443.34
4                            Goa    0.00      0.00   0.00       0.00
5                        Gujarat  272.46   2812.98   0.00   11731.82
6                        Haryana    0.00   1225.32   0.00    5690.54
7               Himachal Pradesh    0.00     68.56   0.00     404.31
8                Jammu & Kashmir    0.00    282.67   0.00    5681.56
9                      Karnataka    0.00   2136.24   0.00   10092.66
10                        Kerala    0.00   3575.70   0.00    2231.20
11                Madhya Pradesh    0.00    974.22   0.00    8530.53
12                   Maharashtra    0.00   2638.49   0.00    3387.38
13                        Orissa    0.00    494.58   0.00     620.50
14                        Punjab    0.00    183.63   0.00     814.31
15                     Rajasthan    0.00    912.90   0.00     656.20
16                    Tamil Nadu    0.00   2451.62   0.00    4681.79
17                 Uttar Pradesh    0.00    274.01   0.00    6634.76
18                   Uttaranchal    0.00      0.00   0.00     352.83
19                   West Bengal    0.00    125.81   0.00      64.42

                                                                      ...  \
ordered_year                                                          ...
ordered_month          2          3          4          5          6  ...
0              185769.17  293165.45  258407.90  415317.79  339827.19  ...
1                4199.12    5698.45    5306.13    9022.90    8102.90  ...
2               21881.31   33076.39   40018.64   46054.19   38525.11  ...
3               12286.41   18003.87   16931.88   34498.57   22419.46  ...
4                   0.00       0.00       0.00       0.00       0.00  ...
5               24977.53   46585.50   51708.39   66394.46   60905.65  ...
6               16576.15   13304.64   16636.21   11397.23    9189.06  ...
7                2303.23    3572.01    2911.94   11395.48    3781.82  ...
8                6144.81    8600.91   10849.24   11473.50    9879.62  ...
9               16476.58   26973.92   12757.17   23806.76   24853.25  ...
10               8991.04    6185.32    8140.45   14165.83    8967.87  ...
11              14787.48   19762.30   15584.86   15864.76   18550.38  ...
12               6733.42    9895.58   11030.30   14913.07   15558.06  ...
13               1905.33    3804.62    4792.97    4320.72    3258.93  ...
14               2499.88    4785.37    5090.15    4028.84    3556.26  ...
15               2455.84    4618.67    3428.36    7154.94    8980.80  ...
16               8324.26   13200.14   16032.56   17842.01   11688.43  ...
17               3575.62    5764.35    6185.05    7291.92    5516.52  ...
18                 79.04     311.58     430.95     290.22     183.85  ...
19               1449.64    3151.88    2442.47    3007.26    3697.31  ...

                                                                      \
ordered_year                   2018
ordered_month         12          1          2          3          4
0              635318.26  801107.09  745933.05  888771.35  897334.50
1               11291.95   18097.49   16408.96   13641.92   14238.56
2               76133.36   86136.15   81691.71   80731.68   99700.47
3               33944.28   48027.62   45695.52   44266.66   54802.08
4                   0.00      50.34     254.86       0.00     232.82
5               73989.12  117355.67  104898.65  135603.80  103044.66
6               21853.96   37462.29   31596.97   37496.11   39033.38
7                6568.48   10608.34    9510.30    8310.51    9710.50
8               20706.06   26650.72   31605.43   20333.80   22699.86
9               31383.19   51796.01   77090.32   53978.47   68808.14
10              13175.16   22849.27   24879.77   24063.23   19673.59
11              33770.83   42070.74   36897.64   38775.15   36043.15
12              18795.78   38504.96   22349.14   37674.66   31852.37
13               6007.73    7383.83    4947.58    8854.68   10804.71
14               6357.33   18237.25    8050.60    6518.15    7318.84
15               8393.67   14986.84   12351.86   10825.80    7517.43
16              26334.80   42636.03   26958.59   37372.47   30879.85
17              12106.59    8978.59   12479.01   14739.59   16474.16
18               1258.01    1591.76    1299.89     806.20    3414.89
19               3196.64    7854.04    3193.85    9862.29   18413.89


ordered_year
ordered_month          5          6          7          8       9
0              918741.28  763210.95  786915.60  789187.48  166.46
1               10227.46   12351.05   12209.83   16532.34    0.00
2              106110.31   88566.56   96153.22   66436.73    0.00
3               53045.49   56184.33   64664.95   37972.37    0.00
4                 188.79      69.29      58.90       0.00    0.00
5              110641.30  120586.37   87928.13   87737.60    0.00
6               31375.19   25485.61   30291.78   19308.52    0.00
7               12796.64   12809.22   10920.78    6006.89    0.00
8               20894.09   17401.61   16569.03   16065.01    0.00
9               52879.45   49608.74   51013.93   44137.03    0.00
10              26630.90   16635.46   15416.60   11423.99    0.00
11              54729.37   39962.95   38504.83   33956.50    0.00
12              24303.01   28861.02   25226.37   19084.16    0.00
13               7209.20    6233.15   11244.70    7476.98    0.00
14               5125.12    9555.23    6111.97    7894.25    0.00
15               8416.90    9407.52   11037.98    9449.10    0.00
16              35319.56   19761.10   29862.95   35475.50    0.00
17              12213.77   13487.02   15910.82   11155.93    0.00
18                263.16    1478.94    2477.57     501.57    0.00
19               7078.33    3135.20    6932.53    3264.19    0.00

[20 rows x 25 columns]

d.quantity by location

In [24]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_year','ordered_month']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                  customer_state revenue                                     \
ordered_year                        2016               2017
ordered_month                          9     10   12      1       2       3
0                 Andhra Pradesh     6.0  297.0  1.0  836.0  1305.0  2248.0
1              Arunachal Pradesh     0.0    5.0  0.0   47.0    35.0    35.0
2                   Chhattisgarh     0.0   17.0  0.0   71.0   145.0   199.0
3                          Delhi     0.0   13.0  0.0   33.0   100.0   146.0
4                            Goa     0.0    0.0  0.0    0.0     0.0     0.0
5                        Gujarat     3.0   19.0  0.0   93.0   163.0   328.0
6                        Haryana     0.0    9.0  0.0   58.0    87.0    81.0
7               Himachal Pradesh     0.0    2.0  0.0    3.0    18.0    25.0
8                Jammu & Kashmir     0.0    3.0  0.0   28.0    33.0    55.0
9                      Karnataka     0.0   15.0  0.0   62.0   149.0   132.0
10                        Kerala     0.0   18.0  0.0   17.0    45.0    53.0
11                Madhya Pradesh     0.0    9.0  0.0   32.0    86.0   110.0
12                   Maharashtra     0.0   15.0  0.0   26.0    44.0    73.0
13                        Orissa     0.0    4.0  0.0    4.0    19.0    27.0
14                        Punjab     0.0    2.0  0.0    5.0    16.0    31.0
15                     Rajasthan     0.0    3.0  0.0    5.0    16.0    26.0
16                    Tamil Nadu     0.0   16.0  0.0   23.0    51.0    87.0
17                 Uttar Pradesh     0.0    2.0  0.0   20.0    31.0    31.0
18                   Uttaranchal     0.0    0.0  0.0    3.0     1.0     4.0
19                   West Bengal     0.0    2.0  0.0    1.0    14.0    13.0

                                       ...                                  \
ordered_year                           ...            2018
ordered_month       4       5       6  ...      12       1       2       3
0              1781.0  3075.0  2534.0  ...  4824.0  6062.0  5779.0  6316.0
1                30.0    57.0    38.0  ...    83.0   129.0   114.0   115.0
2               271.0   273.0   281.0  ...   492.0   589.0   658.0   581.0
3               106.0   173.0   149.0  ...   259.0   318.0   309.0   318.0
4                 0.0     0.0     0.0  ...     0.0     1.0     3.0     0.0
5               278.0   396.0   367.0  ...   530.0   830.0   735.0   810.0
6                80.0   102.0    94.0  ...   158.0   245.0   216.0   226.0
7                31.0    58.0    26.0  ...    47.0    71.0    94.0    59.0
8                67.0    83.0    73.0  ...   128.0   240.0   154.0   134.0
9               111.0   190.0   199.0  ...   251.0   364.0   452.0   401.0
10               48.0    85.0    71.0  ...   103.0   169.0   175.0   173.0
11               91.0   134.0   129.0  ...   213.0   258.0   276.0   261.0
12               81.0   126.0    94.0  ...   124.0   249.0   156.0   231.0
13               32.0    25.0    30.0  ...    49.0    42.0    35.0    50.0
14               35.0    23.0    22.0  ...    36.0    84.0    64.0    55.0
15               31.0    37.0    40.0  ...    69.0    87.0    77.0    79.0
16               86.0   112.0    81.0  ...   152.0   250.0   180.0   210.0
17               43.0    53.0    43.0  ...    88.0    78.0    73.0   103.0
18                2.0     3.0     1.0  ...     6.0    14.0    16.0     6.0
19               16.0    20.0    18.0  ...    25.0    44.0    22.0    42.0


ordered_year
ordered_month       4       5       6       7       8    9
0              6377.0  6477.0  5553.0  5342.0  5752.0  1.0
1                96.0    91.0    81.0    85.0   115.0  0.0
2               610.0   596.0   575.0   502.0   491.0  0.0
3               292.0   300.0   290.0   343.0   272.0  0.0
4                 1.0     2.0     1.0     1.0     0.0  0.0
5               628.0   687.0   730.0   632.0   592.0  0.0
6               249.0   212.0   208.0   221.0   144.0  0.0
7                61.0    51.0    47.0    82.0    52.0  0.0
8               146.0   140.0   118.0   130.0    95.0  0.0
9               380.0   337.0   340.0   307.0   280.0  0.0
10              139.0   135.0   121.0   103.0    93.0  0.0
11              292.0   307.0   244.0   242.0   178.0  0.0
12              187.0   157.0   187.0   152.0   117.0  0.0
13               55.0    42.0    43.0    32.0    72.0  0.0
14               54.0    42.0    57.0    36.0    46.0  0.0
15               45.0    52.0    58.0    54.0    59.0  0.0
16              177.0   187.0   122.0   184.0   207.0  0.0
17              103.0    75.0    70.0    95.0    68.0  0.0
18               17.0     3.0     4.0     9.0     3.0  0.0
19              101.0    46.0    18.0    28.0    21.0  0.0

[20 rows x 25 columns]

e.sales by payment

In [25]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_year','ordered_month']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

              payment_type   revenue                                   \
ordered_year                    2016       2017
ordered_month                     10          1          2          3
0                      UPI  14132.16   33013.73   72194.17   95911.07
1              credit_card  52704.70  148293.15  260852.89  408524.02
2               debit_card    241.73     788.19    1664.04    4642.08
3                  voucher    817.08    5439.31    6704.76   11383.78

                                                                      ...  \
ordered_year                                                          ...
ordered_month          4          5          6          7          8  ...
0              107833.39  173783.08  145909.20  160715.38  171875.09  ...
1              365764.31  522816.49  435389.50  546923.84  670976.22  ...
2                2854.37    4640.13    2645.83    2443.22    3584.98  ...
3               12233.55   17000.75   13497.94   19792.87   16639.57  ...

                                                                          \
ordered_year        2018
ordered_month          2           3           4           5           6
0              291262.91   266825.74   301541.05   294417.46   197131.73
1              971917.26  1168245.12  1151709.21  1163931.63  1028817.01
2               10142.55     9047.10    14701.61    14689.89    41331.28
3               24770.98    28508.56    24045.98    25150.34    27511.30


ordered_year                           2016           2018
ordered_month          7          8       9     12       9
0              303118.51  171560.58    0.00   0.00    0.00
1              949437.94  979351.90  272.46  19.62    0.00
2               43941.03   52253.26    0.00   0.00    0.00
3               22954.99   19900.40    0.00   0.00  166.46

[4 rows x 25 columns]

f.quantity by payment

In [26]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_year','ordered_month']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_year','ordered_month'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

              payment_type revenue                                         \
ordered_year                  2016   2017
ordered_month                   10      1       2       3       4       5
0                      UPI    98.0  301.0   523.0   795.0   675.0  1039.0
1              credit_card   329.0  972.0  1690.0  2612.0  2303.0  3611.0
2               debit_card     2.0   11.0    15.0    41.0    28.0    57.0
3                  voucher    22.0   83.0   130.0   256.0   214.0   318.0

                                       ...                                  \
ordered_year                           ...    2018
ordered_month       6       7       8  ...       2       3       4       5
0               982.0  1169.0  1271.0  ...  2066.0  1941.0  2061.0  1884.0
1              3023.0  4174.0  4507.0  ...  7041.0  7675.0  7368.0  7550.0
2                31.0    24.0    42.0  ...   110.0    87.0   157.0    58.0
3               254.0   432.0   422.0  ...   371.0   467.0   424.0   447.0


ordered_year                          2016      2018
ordered_month       6       7       8    9   12    9
0              1516.0  1816.0  1486.0  0.0  0.0  0.0
1              6637.0  6146.0  6528.0  3.0  1.0  0.0
2               241.0   286.0   337.0  0.0  0.0  0.0
3               473.0   332.0   306.0  0.0  0.0  1.0

[4 rows x 25 columns]

# BY WEEK

a.sales by category

In [27]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_week']).agg(revenue = ('prod_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                   product_category_name   revenue                      \
ordered_week                                     1         2         3
0             Agro_Industry_And_Commerce   2378.00   1657.44   1054.00
1                       Air_Conditioning    448.90   2497.60   1220.99
2                                    Art    389.97    419.97   1168.82
3                  Arts_And_Craftmanship      0.00      0.00      0.00
4                                  Audio    830.90    684.80    695.50
..                                   ...       ...       ...       ...
66                            Stationery  14236.96  15293.14  10690.83
67                Tablets_Printing_Image      0.00     54.90     54.90
68                             Telephony   2788.61   4923.40   4080.18
69                                  Toys   7690.38   7180.13   6220.94
70                         Watches_Gifts  13525.29  28033.96  15143.09

                                                                          ...  \
ordered_week         4         5         6         7         8         9  ...
0               143.97   1746.48   2932.69  15446.97   1413.47   1936.50  ...
1              2329.83    527.70    407.90   3184.10   1453.79   1840.38  ...
2               149.00    553.00    954.84    110.99    270.88    119.99  ...
3                 0.00      0.00      0.00      0.00      0.00      0.00  ...
4              1404.68   1170.99     39.80    709.70    842.00   1292.90  ...
..                 ...       ...       ...       ...       ...       ...  ...
66             6612.51   4279.14   4866.67   2521.47   2798.14   4548.22  ...
67               52.00    307.80    304.90    323.68    552.00    205.98  ...
68             5266.03   5565.56   8556.61   5208.00   7722.20   3916.38  ...
69             5967.93   5426.21   7671.41   5746.48   3558.55   9640.05  ...
70            26321.46  25962.35  21631.60  11886.26  19470.35  29527.64  ...

                                                                          \
ordered_week        43        44        45        46        47        48
0              2443.30      0.00   1334.99   2008.00  25386.10    862.90
1                 0.00    175.90    569.79   1295.87   2641.10    561.85
2                 0.00      0.00      0.00      0.00      0.00    150.00
3                 0.00      0.00      0.00      0.00      0.00      0.00
4               591.70    193.58   1169.72    977.40   1541.89    627.29
..                 ...       ...       ...       ...       ...       ...
66             2491.45   2629.21   4181.38   4327.46   5394.48   6410.21
67                0.00     89.90      0.00     14.90    245.60     69.90
68             5618.41   5389.89   5773.21   3830.51  12427.89   9322.50
69             6379.51   5954.12   7217.31  11989.90  29503.85  28156.60
70            15616.09  13847.38  24386.08  14983.54  40973.50  26886.10


ordered_week        49        50        51       52
0              1193.90      0.00   3429.00   774.70
1               498.90      0.00      0.00     0.00
2                49.90     10.70     60.00     0.00
3                 0.00      0.00      0.00     0.00
4                49.90    561.28    743.89  1351.76
..                 ...       ...       ...      ...
66             6538.70   7108.63   5194.38  5349.34
67              209.70    139.80      0.00     0.00
68             5993.09   2727.62   1963.72  2314.63
69            23371.50  13382.41   6672.90  5975.74
70            18943.20  18978.91  12098.18  9798.12

[71 rows x 53 columns]

b.quantity by category

In [28]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_week']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                   product_category_name revenue                              \
ordered_week                                   1      2      3      4      5
0             Agro_Industry_And_Commerce     4.0    4.0   12.0    5.0    8.0
1                       Air_Conditioning     2.0    7.0    8.0   19.0    6.0
2                                    Art     3.0    3.0    9.0    2.0    3.0
3                  Arts_And_Craftmanship     0.0    0.0    0.0    0.0    0.0
4                                  Audio     2.0    7.0    7.0    8.0    9.0
..                                   ...     ...    ...    ...    ...    ...
66                            Stationery   133.0  149.0  107.0   65.0   53.0
67                Tablets_Printing_Image     0.0    1.0    1.0    1.0    4.0
68                             Telephony    81.0   99.0  107.0  100.0  127.0
69                                  Toys    54.0   43.0   50.0   61.0   45.0
70                         Watches_Gifts    73.0  152.0   86.0  106.0  134.0

                                          ...                             \
ordered_week      6      7      8      9  ...     43    44     45     46
0              21.0   40.0    7.0   10.0  ...    2.0   0.0    2.0    5.0
1               3.0   13.0    6.0    7.0  ...    0.0   2.0    3.0    8.0
2               9.0    1.0    3.0    2.0  ...    0.0   0.0    0.0    0.0
3               0.0    0.0    0.0    0.0  ...    0.0   0.0    0.0    0.0
4               2.0    5.0    5.0    9.0  ...    7.0   4.0   11.0    6.0
..              ...    ...    ...    ...  ...    ...   ...    ...    ...
66             52.0   46.0   54.0   64.0  ...   37.0  27.0   37.0   47.0
67              4.0    6.0    7.0    3.0  ...    0.0   1.0    0.0    1.0
68            145.0  138.0  222.0   94.0  ...   60.0  54.0   80.0   66.0
69             63.0   60.0   50.0   83.0  ...   57.0  40.0   66.0   83.0
70             87.0   89.0  118.0  122.0  ...  104.0  66.0  111.0  104.0


ordered_week     47     48     49     50    51    52
0              26.0    3.0    4.0    0.0   4.0   4.0
1               6.0    4.0    2.0    0.0   0.0   0.0
2               0.0    2.0    1.0    2.0   1.0   0.0
3               0.0    0.0    0.0    0.0   0.0   0.0
4              16.0    7.0    1.0    9.0   4.0   4.0
..              ...    ...    ...    ...   ...   ...
66             57.0   61.0   63.0   69.0  57.0  56.0
67              4.0    1.0    3.0    2.0   0.0   0.0
68            181.0  111.0   95.0   65.0  58.0  63.0
69            261.0  233.0  200.0  116.0  44.0  38.0
70            185.0  131.0   84.0  119.0  79.0  56.0

[71 rows x 53 columns]

c.sales by location

In [29]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_week']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                 customer_state    revenue                                   \
ordered_week                             1          2          3          4
0                Andhra Pradesh  158407.92  212316.08  204233.83  210696.16
1             Arunachal Pradesh    2275.98    2638.35    5429.25    8394.36
2                  Chhattisgarh   13642.19   23240.15   23459.31   28695.37
3                         Delhi    7277.65   11696.52   13928.03   14969.08
4                           Goa       0.00       0.00      50.34       0.00
5                       Gujarat   20605.86   35142.71   27410.46   33210.09
6                       Haryana    4501.89   14607.72   10999.98    9721.14
7              Himachal Pradesh    1271.51    3722.21    1204.31    3564.34
8               Jammu & Kashmir    5846.45    6374.44    4321.57    9024.04
9                     Karnataka   10168.87   12221.62   12907.69   19424.49
10                       Kerala    3100.10    8439.49    8138.44    4218.13
11               Madhya Pradesh    6541.50   11260.92   10280.51   13707.52
12                  Maharashtra    4362.25   20207.94    6558.38    7293.70
13                       Orissa    1490.12    1816.13    1643.12    2362.05
14                       Punjab    9874.24    2326.05    3508.21    2337.53
15                    Rajasthan    1724.65    4951.36    6431.79    1039.50
16                   Tamil Nadu   10555.51    9365.33   15099.28   10209.31
17                Uttar Pradesh    2990.76    4096.01    2300.11    3124.79
18                  Uttaranchal     349.14     310.84     193.58     884.60
19                  West Bengal    2571.78    1342.01     795.44    2343.69

                                                                     ...  \
ordered_week          5          6          7          8          9  ...
0             246768.79  226633.23  207610.73  259613.74  259829.86  ...
1               5162.72    5550.13    5399.05    4093.19    6674.34  ...
2              17798.20   24164.92   22339.89   28929.69   32350.09  ...
3              13373.79   16391.28   11575.98   14563.81   15818.70  ...
4                  0.00      53.69       0.00     201.17       0.00  ...
5              36968.93   31930.47   30237.31   28318.26   34273.57  ...
6               8369.50    8912.29   10653.33   12421.69   25864.56  ...
7               2617.92    3005.25    4178.12    2097.92    3587.84  ...
8              11427.77    5439.04   12318.55    3920.40   15705.29  ...
9              35776.24   23273.60   19366.55   13900.37   23981.10  ...
10              5961.85    6270.67    6005.82    8841.85   10580.38  ...
11             16358.12    9447.47   13741.76   14287.69   13649.37  ...
12              7292.47    9335.99    7582.48    5606.78    7814.78  ...
13              1581.16    1961.89    2074.13    1580.60    2327.14  ...
14              2109.51    3194.27    1551.30    3426.27    4530.09  ...
15              2345.24    5419.39    1993.42    5114.82    4044.70  ...
16              4401.47    7836.67    7825.40   11753.11   11526.61  ...
17              6579.98    4068.40    4777.86    2356.12    3264.22  ...
18               598.23     390.64      83.23     145.79     561.19  ...
19              1774.26     583.69    1557.53     980.57    1897.16  ...

                                                                     \
ordered_week         43         44         45         46         47
0             125891.90  159884.31  145499.08  150115.15  389079.81
1               3419.84    1664.58    3097.35    1878.73    6336.39
2              10982.43    8849.77   12123.98   22570.05   41064.72
3              11413.84    7556.05    5392.08    3205.54   19055.87
4                  0.00       0.00       0.00       0.00       0.00
5              16500.99   11592.10   18191.27   26107.88   52919.67
6               3350.32    2941.91    7284.63    5151.62   16622.69
7               1401.29    1095.64    1514.20    4055.72    2622.86
8               2516.41    2695.84    3596.14    3048.01   25801.82
9              13491.24    6146.61    6495.34    7194.27   22178.97
10              4409.47    3291.86    1816.05    4227.53    8295.87
11              5463.83    5806.07    8725.21    7350.83   22124.12
12              2453.55    3361.30    5396.51    4462.72    9899.02
13               478.58    4881.06     251.09    2572.85    1876.37
14              1250.03    1777.77    1138.04    5016.43    3291.14
15              2094.63    1681.67    3874.71    4664.82    5023.96
16              5580.32    7022.93    2990.44    4868.58   16253.78
17              4938.33    2079.04    2604.19    2421.26    7950.28
18                 0.00      93.26     178.18      70.09    1667.61
19              1706.20    1718.68     578.39     406.80    4480.45


ordered_week         48         49         50         51        52
0             238839.31  196939.10  163146.56  109005.93  77155.11
1               4026.75    3307.54    4480.57    1172.48   1236.43
2              25190.73   18028.97   22756.40   12061.30  11856.96
3              10539.63    8075.66    8740.13    8979.09   4590.42
4                  0.00       0.00       0.00       0.00      0.00
5              35393.39   22571.81   20825.82    9417.45  10940.88
6               8037.86    7542.52    4245.81    2362.35   3029.04
7               2275.20    2607.92    1099.76     746.22   1309.70
8               4715.78    6349.96    3856.48    6168.05   3161.41
9              12244.28   10704.63    7473.68    7050.12   3517.49
10             19543.15    5277.11    2467.65    1455.13   2235.01
11              9432.09    8853.80   11515.85    4835.52   5024.18
12              4314.03    6431.41    2977.23    3902.76   4806.38
13              6928.42    2210.06    1622.62     753.68    542.07
14              2404.27    1344.85     922.71    1461.65   1538.74
15              4915.55    3428.36     534.21    2265.01    481.63
16              5610.25    7453.21   10268.51    2446.87   4848.96
17              5727.96    1713.04    2242.78    2295.93   2200.13
18               289.08     113.50     977.84      80.98     85.69
19               540.19    1007.77     757.22     966.92    272.34

[20 rows x 53 columns]

d.quantity by location

In [30]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_week']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                 customer_state revenue                                  \
ordered_week                          1       2       3       4       5
0                Andhra Pradesh  1264.0  1469.0  1636.0  1586.0  1849.0
1             Arunachal Pradesh    17.0    30.0    51.0    60.0    33.0
2                  Chhattisgarh    98.0   182.0   165.0   156.0   141.0
3                         Delhi    65.0    73.0    91.0    78.0    87.0
4                           Goa     0.0     0.0     1.0     0.0     0.0
5                       Gujarat   129.0   248.0   196.0   255.0   255.0
6                       Haryana    36.0   103.0    68.0    73.0    54.0
7              Himachal Pradesh    11.0    17.0    10.0    26.0    25.0
8               Jammu & Kashmir    34.0    42.0    35.0   129.0    58.0
9                     Karnataka    63.0    82.0    95.0   121.0   184.0
10                       Kerala    24.0    44.0    66.0    42.0    44.0
11               Madhya Pradesh    44.0    64.0    62.0    72.0   101.0
12                  Maharashtra    38.0   102.0    53.0    59.0    49.0
13                       Orissa     6.0    16.0     6.0    13.0    13.0
14                       Punjab    29.0    18.0    21.0    16.0    14.0
15                    Rajasthan    14.0    28.0    22.0    12.0    25.0
16                   Tamil Nadu    54.0    48.0    94.0    56.0    46.0
17                Uttar Pradesh    23.0    28.0    18.0    19.0    29.0
18                  Uttaranchal     2.0     2.0     3.0     8.0     5.0
19                  West Bengal    11.0    10.0     6.0    13.0    11.0

                                              ...                        \
ordered_week       6       7       8       9  ...     43     44      45
0             1663.0  1703.0  1969.0  1890.0  ...  922.0  926.0  1028.0
1               40.0    45.0    29.0    44.0  ...   10.0   13.0    19.0
2              160.0   172.0   275.0   227.0  ...   83.0   64.0    95.0
3              117.0    98.0    96.0   126.0  ...   43.0   63.0    57.0
4                1.0     0.0     2.0     0.0  ...    0.0    0.0     0.0
5              207.0   238.0   200.0   243.0  ...  112.0   81.0   127.0
6               54.0    81.0    72.0   115.0  ...   22.0   22.0    38.0
7               23.0    36.0    24.0    27.0  ...    8.0    8.0    12.0
8               25.0    50.0    34.0    75.0  ...   14.0   20.0    24.0
9              132.0   145.0   138.0   155.0  ...   93.0   33.0    41.0
10              46.0    39.0    55.0    69.0  ...   26.0   20.0    15.0
11              71.0    98.0    97.0   111.0  ...   45.0   41.0    62.0
12              63.0    43.0    47.0    53.0  ...   21.0   14.0    31.0
13              16.0    13.0    12.0    19.0  ...    6.0   26.0     3.0
14              24.0    11.0    30.0    23.0  ...   10.0   16.0    10.0
15              27.0    12.0    35.0    32.0  ...   19.0    8.0    20.0
16              55.0    54.0    78.0    54.0  ...   29.0   33.0    29.0
17              37.0    25.0    15.0    30.0  ...   20.0   11.0    19.0
18               3.0     3.0     2.0     8.0  ...    0.0    1.0     2.0
19               5.0    14.0     9.0    10.0  ...    6.0    8.0     7.0


ordered_week      46      47      48      49      50     51     52
0             1156.0  2697.0  1836.0  1471.0  1254.0  798.0  664.0
1               13.0    41.0    30.0    30.0    27.0    9.0   10.0
2              155.0   267.0   179.0   145.0   128.0   77.0   81.0
3               27.0   147.0    87.0    69.0    60.0   64.0   42.0
4                0.0     0.0     0.0     0.0     0.0    0.0    0.0
5              187.0   332.0   274.0   160.0   136.0   71.0   85.0
6               31.0   101.0    56.0    42.0    36.0   30.0   23.0
7               13.0    24.0    15.0    12.0    10.0   11.0    7.0
8               22.0   188.0    38.0    37.0    26.0   34.0   18.0
9               50.0   161.0    92.0    82.0    44.0   69.0   35.0
10              35.0    63.0   105.0    35.0    18.0   13.0   20.0
11              42.0   156.0    71.0    62.0    71.0   28.0   29.0
12              30.0    76.0    38.0    29.0    22.0   31.0   38.0
13              13.0    16.0    14.0    19.0    11.0    7.0    6.0
14              17.0    31.0    20.0     9.0     9.0    8.0    6.0
15              23.0    42.0    24.0    35.0     7.0   12.0    7.0
16              36.0   100.0    47.0    44.0    41.0   25.0   29.0
17               8.0    49.0    30.0    10.0    17.0   22.0   23.0
18               2.0     8.0     3.0     2.0     2.0    1.0    1.0
19               3.0    25.0     6.0     8.0     6.0    8.0    2.0

[20 rows x 53 columns]

e.sales by payment

In [31]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_week']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

             payment_type    revenue                                   \
ordered_week                       1          2          3          4
0                     UPI   53373.21   95878.58   64383.19   64630.09
1             credit_card  204823.92  279332.85  280235.47  305405.04
2              debit_card    2211.57    3314.21    4288.60    2636.89
3                 voucher    7149.67    7550.24    9986.37   12547.87

                                                                     ...  \
ordered_week          5          6          7          8          9  ...
0              75791.84   77735.73   61255.54  130731.06  114106.97  ...
1             340492.19  304709.41  298858.96  280589.07  353410.81  ...
2               3170.61    3393.18    1804.14    2751.27    3753.18  ...
3               7811.51    8024.66    8953.80    8082.44    7010.03  ...

                                                                     \
ordered_week         43         44         45         46         47
0              46853.08   42604.10   48371.26   57665.40  145923.50
1             164545.17  187707.85  175145.04  196982.15  500692.05
2               1505.73     685.38    1469.67    1242.27    4185.82
3               4439.22    3143.12    5760.91    3499.06    5744.03


ordered_week         48         49         50         51         52
0              76740.16   73695.11   57846.84   40467.09   22615.33
1             316336.83  231918.46  203628.04  130774.75  110375.45
2               2266.80    3021.41    1183.81    1260.82    1387.17
3               5624.13    5326.24    8253.14    4924.78    4454.62

[4 rows x 53 columns]

f.quantity by payment

In [32]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_week']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_week'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

             payment_type revenue                                          \
ordered_week                    1       2       3       4       5       6
0                     UPI   413.0   652.0   534.0   524.0   614.0   561.0
1             credit_card  1385.0  1814.0  1974.0  2036.0  2269.0  2056.0
2              debit_card    24.0    39.0    43.0    26.0    26.0    28.0
3                 voucher   140.0   101.0   148.0   208.0   114.0   124.0

                                      ...                                  \
ordered_week       7       8       9  ...      43      44      45      46
0              490.0   887.0   729.0  ...   332.0   292.0   351.0   444.0
1             2212.0  2176.0  2412.0  ...  1072.0  1056.0  1194.0  1333.0
2               19.0    36.0    45.0  ...    17.0    11.0    14.0    13.0
3              159.0   120.0   125.0  ...    68.0    49.0    80.0    73.0


ordered_week      47      48      49      50     51     52
0              836.0   584.0   545.0   450.0  308.0  197.0
1             3471.0  2201.0  1604.0  1380.0  950.0  839.0
2               53.0    26.0    26.0    10.0   12.0   13.0
3              164.0   154.0   126.0    85.0   48.0   77.0

[4 rows x 53 columns]

# BY DAY

a.sales by category

In [33]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_day']).agg(revenue = ('prod_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                  product_category_name   revenue                      \
ordered_day                                     1         2         3
0            Agro_Industry_And_Commerce    964.00   2110.00    693.00
1                      Air_Conditioning   1032.57   2611.08   1648.38
2                                   Art    327.55    406.78   1060.67
3                 Arts_And_Craftmanship      0.00      0.00     25.00
4                                 Audio   1676.79   1900.79   1497.64
..                                  ...       ...       ...       ...
66                           Stationery   7835.87   9092.57   9251.40
67               Tablets_Printing_Image    396.00    746.99    521.09
68                            Telephony  13070.88  13344.51  11084.90
69                                 Toys  16635.50  18111.56  20162.38
70                        Watches_Gifts  53620.89  45644.47  44062.66

                                                                         ...  \
ordered_day         4         5         6         7         8         9  ...
0             4725.40   3395.39   2258.39   3024.90   1547.78    480.85  ...
1             1458.19   7253.70   2208.46   2311.84   1414.50   1615.90  ...
2              806.71    677.97    675.94    321.98   1399.76    744.51  ...
3                0.00     18.00     89.80      0.00     43.98      0.00  ...
4             2018.38    901.80    640.20   1377.70    328.60   1870.06  ...
..                ...       ...       ...       ...       ...       ...  ...
66           11100.56  11638.45   9779.14   8101.61   8514.26   7790.42  ...
67              99.00    198.00     35.90    279.80      0.00    174.80  ...
68           14639.21  11022.65  13313.21  18859.12  14074.72  15953.41  ...
69           22382.23  24516.43  19263.12  15632.92  14599.54  14263.76  ...
70           47292.28  47137.55  44163.39  42841.78  41629.53  39011.08  ...

                                                                         \
ordered_day        22        23        24        25        26        27
0             4214.50   3078.27  22043.49   1426.29   2247.99   1371.00
1             1009.37   1802.17   1251.90    502.00   3890.10    957.48
2              149.99    345.66   7071.62   1295.29    286.28    416.39
3              253.99    150.60    179.39     19.80     29.90      0.00
4              825.20   1725.58   1817.69   2434.19   1871.08   2970.38
..                ...       ...       ...       ...       ...       ...
66            7190.15   5692.52   6383.12   7721.50   8095.67   6559.11
67             203.00    462.89    261.70    303.99    396.00    396.00
68           11621.80   8102.72  13260.44  12264.76   9973.30   9905.79
69           12541.78  14171.04  22283.68  20712.72  20986.85  16072.50
70           38356.21  32823.30  57207.07  36107.76  35557.62  33583.84


ordered_day        28        29        30        31
0             5907.96   2010.18   1126.99    485.72
1             2847.44    385.90    802.79   2302.04
2              879.82    144.89    809.48    478.54
3               57.90      0.00     49.90      0.00
4             1856.39   2076.28   1434.66   1243.67
..                ...       ...       ...       ...
66            5360.85   6341.85   5909.49   4852.13
67             350.49    109.00      0.00     99.00
68           12462.82  11199.52  10020.99   7771.81
69           14520.58  13392.07  17624.33   6364.91
70           38822.72  32771.79  21741.09  36740.58

[71 rows x 32 columns]

b.quantity by category

In [34]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_day']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                  product_category_name revenue                              \
ordered_day                                   1      2      3      4      5
0            Agro_Industry_And_Commerce     4.0   12.0    2.0    7.0   24.0
1                      Air_Conditioning     7.0   14.0    9.0   12.0   42.0
2                                   Art     6.0    5.0   10.0    7.0    8.0
3                 Arts_And_Craftmanship     0.0    0.0    1.0    0.0    1.0
4                                 Audio     7.0   11.0   11.0   11.0    4.0
..                                  ...     ...    ...    ...    ...    ...
66                           Stationery    83.0  110.0   99.0  105.0  129.0
67               Tablets_Printing_Image     4.0    7.0    7.0    1.0    2.0
68                            Telephony   163.0  171.0  158.0  156.0  139.0
69                                 Toys   144.0  154.0  181.0  182.0  203.0
70                        Watches_Gifts   237.0  219.0  238.0  210.0  223.0

                                         ...                              \
ordered_day      6      7      8      9  ...     22     23     24     25
0              9.0    5.0    5.0    2.0  ...    7.0   12.0   29.0    7.0
1             12.0    8.0   10.0   13.0  ...   14.0   14.0    7.0    4.0
2              7.0    4.0   18.0    8.0  ...    1.0    7.0    9.0   26.0
3              1.0    0.0    2.0    0.0  ...    2.0    5.0    2.0    1.0
4             11.0    8.0    8.0   20.0  ...   12.0   20.0   17.0   21.0
..             ...    ...    ...    ...  ...    ...    ...    ...    ...
66           125.0   88.0   92.0   86.0  ...   72.0   83.0   84.0   97.0
67             1.0    5.0    0.0    3.0  ...    3.0    5.0    4.0    3.0
68           195.0  204.0  175.0  190.0  ...  181.0  154.0  224.0  178.0
69           187.0  145.0  138.0  128.0  ...  128.0  116.0  195.0  155.0
70           213.0  224.0  225.0  187.0  ...  211.0  181.0  281.0  210.0


ordered_day     26     27     28     29     30     31
0              5.0    3.0   17.0    7.0   13.0    3.0
1             12.0    9.0    9.0    3.0    7.0   12.0
2              4.0    5.0   10.0    2.0    8.0    5.0
3              1.0    0.0    1.0    0.0    1.0    0.0
4             15.0   16.0   11.0   14.0    7.0    9.0
..             ...    ...    ...    ...    ...    ...
66           101.0   79.0   67.0   72.0   62.0   63.0
67             4.0    4.0    4.0    1.0    0.0    1.0
68           189.0  148.0  141.0  163.0  137.0  104.0
69           190.0  163.0  125.0  107.0  159.0   55.0
70           221.0  204.0  172.0  182.0  147.0  126.0

[71 rows x 32 columns]

c.sales by location

In [35]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_day']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                customer_state    revenue                                   \
ordered_day                             1          2          3          4
0               Andhra Pradesh  362009.04  393483.03  378485.70  394897.79
1            Arunachal Pradesh    6906.43    5511.64    6786.04    9973.19
2                 Chhattisgarh   31479.90   51733.84   46609.17   39377.09
3                        Delhi   26616.72   16795.35   21530.55   22786.34
4                          Goa       0.00       0.00       0.00       0.00
5                      Gujarat   75583.98   50647.10   56540.54   59082.18
6                      Haryana   25392.57   30852.04   11862.69   10384.81
7             Himachal Pradesh   11433.68    4026.95    3779.10    3789.14
8              Jammu & Kashmir    7661.43   12469.12   12745.36    9640.70
9                    Karnataka   60395.47   21161.97   19206.14   29228.24
10                      Kerala    7093.34    6816.91   10908.13   13990.43
11              Madhya Pradesh   16473.13   19677.92   21262.76   20969.59
12                 Maharashtra    9454.50    8079.53   16308.83   16434.85
13                      Orissa    3688.08    1668.71    3963.79    9485.65
14                      Punjab    5172.62    4195.72    2663.45    4520.34
15                   Rajasthan    5536.02    3385.49    5144.84    6238.39
16                  Tamil Nadu   14663.09   19670.24   16286.51   14483.51
17               Uttar Pradesh    4404.68    9875.98    7528.20    5241.71
18                 Uttaranchal     451.48     325.94     570.61    2646.06
19                 West Bengal    4018.04    3992.72    2076.81    1735.20

                                                                    ...  \
ordered_day          5          6          7          8          9  ...
0            426456.35  435730.26  433024.62  379220.85  391700.24  ...
1              7966.40    5424.09    6354.43    5947.99    8320.28  ...
2             40130.27   34269.13   39490.69   34721.11   34430.05  ...
3             38248.90   26832.44   25323.40   24278.22   28281.63  ...
4                 0.00       0.00       0.00      53.69       0.00  ...
5             59442.87   46939.68   42035.18   55748.69   65474.17  ...
6             14509.26   19777.03   12010.26   10852.89   10309.36  ...
7              4865.99    3859.77    5716.04    6144.91    4928.73  ...
8              7057.09    9026.55   11765.33   10744.32    6986.23  ...
9             28630.16   41039.23   22749.23   25500.78   34010.96  ...
10            15193.59    7768.79   12270.67    6542.70   10107.06  ...
11            17152.70   23755.99   20866.27   27356.56   20598.22  ...
12            23076.65   17165.69   12070.26   18796.28   14587.74  ...
13             4527.11    2197.70    4135.45    3689.27    4445.35  ...
14             4980.71   11647.92    4228.98    5107.64    2939.31  ...
15             5740.52    3948.90    4481.56    3742.81    3678.71  ...
16            13805.35   18800.66   19285.53   24472.36   15277.97  ...
17             8207.28    9964.66    5377.93    6839.59    5771.84  ...
18              423.99     215.24     577.07       0.00     236.30  ...
19             9976.05    2252.36    2192.90    1250.09    2563.74  ...

                                                                               \
ordered_day         22         23         24         25         26         27
0            416607.74  416859.06  460143.42  386356.02  365027.77  350634.61
1              5641.70    8770.35    9161.63   10310.50    4691.44    5373.53
2             43761.69   33118.07   60880.71   45681.91   49447.20   45755.57
3             22621.43   21933.57   24476.73   21267.90   27449.95   29091.33
4                 0.00     232.94       0.00       0.00       0.00       0.00
5             47842.92   35051.38   59655.83   58477.36   50948.29   58733.44
6             10908.09   18458.05   15066.56   12871.03   18585.67   21424.31
7              3711.18    3851.16    3756.85   11646.19    5802.73    2480.23
8              8859.70   26639.58   11197.61    9614.94    7902.59   16946.44
9             11835.13   25323.91   30396.46   23319.24   24400.95   27161.90
10             9352.04    8862.99    6405.33    9029.66    8748.52   11531.40
11            19345.55   18997.29   18963.00   20253.33   17676.95   26031.09
12             8907.16    9338.91   14308.70    9189.68   11517.46   10191.52
13             5156.86    3374.26    4897.35    2452.10    2296.88   10529.04
14             4725.49    2794.98    8479.65    3105.38    4865.59    4101.71
15             6606.50    3993.84    5448.91    7668.85    3185.86    5442.50
16            11406.89   13746.33   15789.09   12536.30   11937.38   14885.94
17             4423.63    7115.70    6019.96    9790.04    9034.23   10962.15
18                0.00     833.74     722.59    1500.82    1155.63     228.34
19             4818.84    1479.54    3877.32    2100.15    5410.02    1495.85


ordered_day         28         29         30         31
0            361154.51  404713.86  316703.46  233404.18
1              6860.05    6695.65    5993.68    2946.22
2             47130.96   29782.96   37929.76   16778.93
3             20996.23   11940.47   18226.24   11686.26
4                 0.00       0.00       0.00       0.00
5             50699.61   32793.62   29945.87   21663.45
6             10286.07   10766.49    9158.12    6555.59
7              4455.28    5126.13    4163.31    1535.31
8              8524.85   12072.58    8993.12    5339.40
9             23417.57   17211.92   14764.08   12287.42
10            28148.94   16490.42    4612.70    5615.13
11            12919.67   17304.68   13573.96   12742.18
12            17670.05   16646.91   10612.37    5920.54
13             2825.88    4392.88    4752.04    3853.19
14             1931.84    3352.18    4415.65    2213.76
15             8679.37    3505.25    5342.36    1960.15
16             9145.59   14174.72    8611.62    7574.64
17            11378.38    3675.08    6232.37    2319.14
18               34.75     355.61     632.31     250.71
19             1023.64    3631.59    1559.89     600.41

[20 rows x 32 columns]

d.quantity by location

In [36]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_day']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                customer_state revenue                                  \
ordered_day                          1       2       3       4       5
0               Andhra Pradesh  2545.0  2747.0  2690.0  2770.0  3019.0
1            Arunachal Pradesh    49.0    44.0    38.0    51.0    62.0
2                 Chhattisgarh   232.0   247.0   287.0   264.0   269.0
3                        Delhi   159.0   125.0   139.0   157.0   194.0
4                          Goa     0.0     0.0     0.0     0.0     0.0
5                      Gujarat   337.0   356.0   348.0   346.0   398.0
6                      Haryana   109.0   162.0    84.0    87.0   110.0
7             Himachal Pradesh    35.0    36.0    22.0    29.0    21.0
8              Jammu & Kashmir    57.0    89.0    81.0    72.0    57.0
9                    Karnataka   292.0   151.0   140.0   188.0   199.0
10                      Kerala    58.0    64.0    79.0    94.0    79.0
11              Madhya Pradesh   130.0   125.0   118.0   130.0   126.0
12                 Maharashtra    73.0    64.0   100.0   110.0   121.0
13                      Orissa    25.0    16.0    25.0    63.0    32.0
14                      Punjab    32.0    30.0    21.0    31.0    38.0
15                   Rajasthan    31.0    30.0    32.0    44.0    30.0
16                  Tamil Nadu    78.0   110.0    94.0    97.0    98.0
17               Uttar Pradesh    37.0    51.0    47.0    26.0    53.0
18                 Uttaranchal     3.0     3.0     5.0     9.0     4.0
19                 West Bengal    19.0    17.0    11.0    14.0    38.0

                                             ...                          \
ordered_day       6       7       8       9  ...      22      23      24
0            3014.0  2954.0  2926.0  2739.0  ...  3076.0  2986.0  3321.0
1              34.0    39.0    49.0   103.0  ...    44.0    79.0    63.0
2             252.0   248.0   245.0   293.0  ...   294.0   250.0   359.0
3             162.0   171.0   175.0   143.0  ...   133.0   142.0   182.0
4               0.0     0.0     1.0     0.0  ...     0.0     3.0     0.0
5             337.0   295.0   376.0   373.0  ...   330.0   262.0   398.0
6             111.0   101.0    70.0    82.0  ...    90.0   103.0   106.0
7              33.0    36.0    40.0    28.0  ...    43.0    24.0    33.0
8              51.0    78.0    78.0    55.0  ...    86.0   193.0    78.0
9             241.0   172.0   187.0   195.0  ...   110.0   193.0   219.0
10             59.0    70.0    53.0    63.0  ...    67.0    76.0    48.0
11            155.0   174.0   168.0   130.0  ...   132.0   121.0   134.0
12             87.0    73.0    96.0    84.0  ...    88.0    74.0   102.0
13             23.0    24.0    23.0    28.0  ...    24.0    23.0    19.0
14             43.0    20.0    30.0    28.0  ...    29.0    32.0    56.0
15             32.0    35.0    25.0    25.0  ...    47.0    35.0    52.0
16            107.0    84.0   128.0   106.0  ...    84.0    76.0   101.0
17             49.0    49.0    49.0    49.0  ...    30.0    44.0    49.0
18              1.0     3.0     0.0     3.0  ...     0.0     8.0     4.0
19              9.0    15.0    10.0    14.0  ...    21.0    11.0    24.0


ordered_day      25      26      27      28      29      30      31
0            2885.0  2922.0  2816.0  2470.0  2279.0  2302.0  1457.0
1              57.0    32.0    23.0    54.0    56.0    40.0    30.0
2             264.0   340.0   328.0   286.0   178.0   251.0   113.0
3             133.0   175.0   154.0   162.0    95.0   115.0   101.0
4               0.0     0.0     0.0     0.0     0.0     0.0     0.0
5             424.0   347.0   402.0   332.0   243.0   229.0   159.0
6             108.0   126.0   149.0    98.0    71.0    84.0    48.0
7              41.0    29.0    15.0    38.0    18.0    23.0     8.0
8              74.0    56.0   156.0    50.0    70.0    59.0    38.0
9             167.0   164.0   153.0   159.0   122.0   106.0    99.0
10             63.0    83.0    90.0   128.0    68.0    40.0    32.0
11            149.0   117.0   140.0   106.0   133.0    96.0    65.0
12             74.0    95.0    86.0    90.0   116.0    61.0    46.0
13             16.0    19.0    31.0    17.0    21.0    25.0    16.0
14             31.0    31.0    26.0    20.0    22.0    31.0    13.0
15             45.0    24.0    34.0    43.0    37.0    20.0    14.0
16             81.0    89.0    85.0    52.0    69.0    63.0    45.0
17             57.0    38.0    52.0    43.0    31.0    28.0    15.0
18              8.0    11.0     1.0     1.0     4.0     5.0     2.0
19             15.0    15.0     8.0     6.0     8.0    13.0     5.0

[20 rows x 32 columns]

e.sales by payment

In [37]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_day']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

            payment_type    revenue                                   \
ordered_day                       1          2          3          4
0                    UPI  134695.58  124496.66  128360.42  126712.22
1            credit_card  526804.29  523048.71  497987.14  527121.32
2             debit_card    7046.95    4392.24    6190.06    8078.45
3                voucher    9887.38   12432.59   11721.60   12993.22

                                                                    ...  \
ordered_day          5          6          7          8          9  ...
0            156929.26  170639.82  132600.93  111795.24  135032.71  ...
1            552324.91  530445.77  527216.52  519758.74  502711.59  ...
2              7886.79    5492.48    8428.80    9302.18   12112.39  ...
3             13250.28   14038.02   15709.55   10154.59   14791.20  ...

                                                                               \
ordered_day         22         23         24         25         26         27
0            177121.90  108041.35  169719.70  121299.45  118194.03  125010.71
1            450832.24  532520.86  564451.61  520828.37  489248.60  502648.72
2              8172.62    7918.69    8877.50    5474.60    7523.33    8099.98
3             10405.78   12294.75   16598.89    9568.98   15119.15   17241.49


ordered_day         28         29         30         31
0            120570.17   92504.88   98894.93   58857.89
1            490287.96  500405.96  396092.59  278822.53
2              6475.26    9953.32    3951.18   11368.09
3              9949.85   11768.84    7284.21    6198.10

[4 rows x 32 columns]

f.quantity by payment

In [38]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_day']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_day'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

            payment_type revenue                                          \
ordered_day                    1       2       3       4       5       6
0                    UPI   848.0   868.0   885.0   966.0  1077.0  1011.0
1            credit_card  3180.0  3295.0  3221.0  3336.0  3557.0  3547.0
2             debit_card    58.0    46.0    54.0    62.0    74.0    49.0
3                voucher   215.0   258.0   201.0   218.0   240.0   193.0

                                     ...                                  \
ordered_day       7       8       9  ...      22      23      24      25
0             951.0   852.0   967.0  ...  1157.0   870.0  1026.0   956.0
1            3321.0  3496.0  3282.0  ...  3325.0  3568.0  4006.0  3457.0
2              74.0    64.0    67.0  ...    69.0    58.0    81.0    41.0
3             295.0   317.0   225.0  ...   177.0   239.0   235.0   238.0


ordered_day      26      27      28      29      30      31
0             966.0   893.0   862.0   696.0   715.0   501.0
1            3432.0  3500.0  3064.0  2683.0  2677.0  1691.0
2              69.0    81.0    47.0    46.0    32.0    29.0
3             246.0   275.0   182.0   216.0   167.0    85.0

[4 rows x 32 columns]

# BY HOUR

a.sales by category

In [39]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_hour']).agg(revenue = ('prod_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                   product_category_name   revenue                     \
ordered_hour                                     0         1        2
0             Agro_Industry_And_Commerce   3140.56      0.00    21.99
1                       Air_Conditioning   1642.40    224.99     0.00
2                                    Art    804.83    555.48     0.00
3                  Arts_And_Craftmanship      0.00      0.00     0.00
4                                  Audio    839.45    148.00   119.59
..                                   ...       ...       ...      ...
66                            Stationery   6524.11   2448.59  1100.90
67                Tablets_Printing_Image    407.89      0.00     0.00
68                             Telephony   9284.77   4970.97   874.58
69                                  Toys  11566.30   6665.36  3070.22
70                         Watches_Gifts  35897.87  25118.15  6825.77

                                                                       ...  \
ordered_hour        3        4        5         6         7         8  ...
0                0.00    35.00     0.00     58.50     78.96   2276.88  ...
1                0.00     0.00     0.00     61.00    238.00    190.00  ...
2              129.99    99.99     0.00     28.63    120.00    459.97  ...
3                0.00     0.00     0.00    129.90      0.00      0.00  ...
4               29.90    79.99    59.60    113.80     45.70   1232.68  ...
..                ...      ...      ...       ...       ...       ...  ...
66             626.85    59.00   339.50   1310.97   2885.60   8582.08  ...
67              99.00     0.00     0.00      0.00    332.90    351.90  ...
68             897.65   922.73   215.33    845.72   4453.32   7492.37  ...
69            1156.68   846.61   644.67   2441.18   7616.99  15590.20  ...
70            7067.34  2689.64  2621.58  10193.61  17952.12  38835.98  ...

                                                                          \
ordered_hour        14        15        16        17        18        19
0              6610.86   5842.37  22810.33   5396.99   5213.00   1452.79
1              8721.46   3187.11   4352.85   4579.75   3738.59   4592.15
2              1295.22   1195.20    407.69   1657.00   8635.00   1635.81
3               255.98      0.00    139.70    187.39    116.80      0.00
4              4488.77   3901.28   3459.78   2488.07   4425.83   3424.98
..                 ...       ...       ...       ...       ...       ...
66            15246.35  11967.99  18334.70  20215.40  13856.79  13657.17
67             1202.28   1050.48    347.19    165.90    212.90    366.90
68            34053.73  23114.36  26543.46  22240.86  18453.15  19453.38
69            37409.98  32291.63  41143.44  28927.29  32399.84  31295.61
70            79764.58  96724.28  82945.06  80082.68  79060.52  77359.73


ordered_hour        20        21        22        23
0              4446.79   1926.19   4052.10    931.29
1              4995.59   3599.20   3273.84   3551.42
2               853.66   1041.11    978.73   1004.20
3               253.99     25.00      0.00    142.98
4              3334.52   3704.66   4007.79   2430.92
..                 ...       ...       ...       ...
66            15499.31  14849.98  17406.27  10887.52
67              366.90    754.89    432.79    175.39
68            23542.45  29220.05  20100.09  15201.65
69            25760.40  27312.49  34391.80  21637.60
70            76298.10  89890.09  75980.07  57783.20

[71 rows x 25 columns]

b.quantity by category

In [40]:
group = ord_pay_items_prod.groupby(by = ['product_category_name','ordered_hour']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='product_category_name')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                   product_category_name revenue                          \
ordered_hour                                   0     1     2     3     4
0             Agro_Industry_And_Commerce    18.0   0.0   1.0   0.0   1.0
1                       Air_Conditioning     9.0   2.0   0.0   0.0   0.0
2                                    Art     8.0   5.0   0.0   1.0   1.0
3                  Arts_And_Craftmanship     0.0   0.0   0.0   0.0   0.0
4                                  Audio    12.0   2.0   1.0   1.0   2.0
..                                   ...     ...   ...   ...   ...   ...
66                            Stationery    78.0  27.0  12.0   5.0   1.0
67                Tablets_Printing_Image     4.0   0.0   0.0   1.0   0.0
68                             Telephony   167.0  81.0  24.0  16.0  13.0
69                                  Toys   111.0  64.0  22.0  11.0  11.0
70                         Watches_Gifts   210.0  92.0  34.0  38.0   8.0

                                        ...                              \
ordered_hour     5     6      7      8  ...     14     15     16     17
0              0.0   1.0    4.0    6.0  ...   19.0   28.0   57.0   17.0
1              0.0   1.0    2.0    1.0  ...   46.0   21.0   24.0   32.0
2              0.0   2.0    1.0    5.0  ...   16.0   16.0    6.0   33.0
3              0.0   1.0    0.0    0.0  ...    2.0    0.0    2.0    2.0
4              4.0   3.0    3.0    7.0  ...   25.0   31.0   20.0   19.0
..             ...   ...    ...    ...  ...    ...    ...    ...    ...
66             5.0  13.0   27.0   98.0  ...  156.0  162.0  203.0  199.0
67             0.0   0.0    4.0    4.0  ...    5.0   11.0    6.0    3.0
68             8.0  26.0   62.0  144.0  ...  345.0  323.0  345.0  330.0
69             7.0  24.0   75.0  137.0  ...  320.0  284.0  315.0  284.0
70            14.0  51.0  100.0  239.0  ...  444.0  467.0  426.0  405.0


ordered_hour     18     19     20     21     22     23
0              15.0   15.0   17.0    9.0    7.0   16.0
1              21.0   22.0   26.0   17.0   16.0    9.0
2              17.0   19.0    9.0   14.0   11.0   14.0
3               4.0    0.0    2.0    1.0    0.0    2.0
4              19.0   28.0   22.0   27.0   24.0   17.0
..              ...    ...    ...    ...    ...    ...
66            175.0  169.0  187.0  167.0  186.0  120.0
67              3.0    4.0    4.0    8.0    6.0    3.0
68            294.0  304.0  306.0  328.0  288.0  238.0
69            307.0  274.0  266.0  276.0  283.0  163.0
70            357.0  362.0  394.0  436.0  405.0  347.0

[71 rows x 25 columns]

c.sales by location

In [41]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_hour']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                 customer_state    revenue                                 \
ordered_hour                             0          1         2         3
0                Andhra Pradesh  283082.28  132702.27  47514.64  26745.57
1             Arunachal Pradesh    5754.22    1348.92    634.94    591.82
2                  Chhattisgarh   26658.39   11726.92   4952.54   6586.06
3                         Delhi   18446.39    3969.00   7431.81    730.95
4                           Goa       0.00       0.00      0.00      0.00
5                       Gujarat   38291.82   17857.92   5942.25   2796.86
6                       Haryana   12323.47    5021.07   1931.93    797.80
7              Himachal Pradesh    1835.50    1426.06     84.59    677.25
8               Jammu & Kashmir    7461.43    3381.55   1225.90    205.33
9                     Karnataka   16991.27    7074.72   4845.50   3235.64
10                       Kerala    5490.22    1253.78    213.08   2862.25
11               Madhya Pradesh   10555.96    6371.25   1728.07    756.97
12                  Maharashtra   10190.24    3132.33   2152.43    755.33
13                       Orissa    8915.27    1845.98      0.00     93.19
14                       Punjab    2585.12    2273.15    154.30    689.81
15                    Rajasthan    4728.67    1721.80    553.53      0.00
16                   Tamil Nadu    6514.18    2685.76  12008.97   2634.09
17                Uttar Pradesh    3955.09    3054.93    448.98    151.39
18                  Uttaranchal     176.99       0.00      0.00     39.09
19                  West Bengal     977.10     923.44    135.22     31.38

                                                                  ...  \
ordered_hour         4         5         6          7          8  ...
0             23157.57  19088.85  49187.98  121323.81  345354.81  ...
1               253.18    736.49    813.09    3519.62    8031.05  ...
2              3681.63   1770.59   4086.13   18064.25   40616.37  ...
3              1028.93    619.38   3816.58    7029.38   18426.23  ...
4                 0.00      0.00      0.00       0.00       0.00  ...
5              1611.37   4445.94   7753.60   15492.90   38787.20  ...
6               160.45    394.95   1313.85    9315.93   13314.89  ...
7                 0.00      0.00    487.37     896.68    4591.26  ...
8               673.74    339.99    869.70    3217.66   11388.83  ...
9              1646.87    700.44   1941.92   10243.84   16711.91  ...
10             1681.67     48.30    901.26    4320.30    8552.85  ...
11              434.50    323.66   2975.35    5360.14   19923.83  ...
12              157.66      0.00   2554.99    4403.27   17784.72  ...
13               39.69    218.96    471.67    1687.10    2664.63  ...
14              147.37      0.00   1355.76     988.66    6571.91  ...
15              133.69     73.15    404.70    1597.38    6766.67  ...
16              541.00   1045.52    865.69   11386.73   15210.29  ...
17              291.05    176.89    690.40    1451.65   12094.86  ...
18                0.00      0.00      0.00     125.21     658.85  ...
19                0.00     50.62     27.69     967.19    7080.99  ...

                                                                     \
ordered_hour         14         15         16         17         18
0             897644.25  948837.89  851504.42  759214.18  684706.82
1              11328.86   17089.36   15548.92   14995.33   10769.79
2              88466.05   70040.66  101953.22   75925.19   98587.97
3              48513.51   42698.36   47918.17   44260.40   40830.22
4                 50.34       0.00     138.89       0.00       0.00
5             114931.25  127665.93  103442.18   83738.62  107560.67
6              30182.13   26924.32   27630.18   32407.30   35968.14
7              13533.18   12049.55   11651.82   11560.81    7626.95
8              19659.34   18633.21   16863.42   17820.86   20612.43
9              56723.79   50675.41   53270.37   47608.66   72437.90
10             16141.83   20264.98   19088.94   17094.02   13164.34
11             30752.67   38026.65   51285.20   42117.17   29227.32
12             45776.60   31570.79   25793.05   20952.39   25563.82
13             12119.11    6303.50    6919.39   12378.75    7055.96
14              9653.91    9583.91    5868.33    7017.66    4624.13
15             13401.19   14365.74   11274.95   12540.46    9722.81
16             28803.49   39582.25   21823.02   23814.68   26864.31
17             13574.09   16081.13   24153.65   10318.20   11334.78
18               421.56     676.58    1066.08    1717.34    2495.60
19              9958.97    3589.24    4981.01    2913.69    5135.59


ordered_hour         19         20         21         22         23
0             660247.72  657155.84  689188.91  639279.83  450516.91
1              16010.14   15628.46   16883.76   10538.75   10322.65
2              79575.50   88864.37   77753.89   64090.06   56847.70
3              42052.20   51201.31   31768.18   36862.96   26967.12
4                  0.00      62.28     128.19       0.00       0.00
5             110342.58  116157.05   85082.74   93993.52   48959.69
6              26964.81   23373.75   28969.64   20448.92   18985.98
7               5875.33    4898.88    6900.46   10788.42    4226.07
8              22949.39   35664.27   16254.69   22951.81   13657.68
9              54473.16   58954.83   33989.50   49970.92   30082.04
10             24861.27   21916.77   17607.77   30632.98   11239.19
11             29954.45   34629.36   45730.61   37704.76   26192.19
12             23544.02   27193.87   31135.75   18829.01   12169.43
13              7206.42    7333.39   11051.90    6753.87    4372.13
14              8016.41    7671.11    8510.48    5024.04    4258.46
15              9093.11   11335.86   14448.06    6045.11    5993.33
16             34647.87   27895.66   32274.27   27093.43   10474.47
17              9622.16   14810.64   11143.56   10367.48    9734.10
18               628.77    1226.49    1527.04    1349.47    2234.19
19              4730.62    6902.86   21386.42    6782.78    2159.72

[20 rows x 25 columns]

d.quantity by location

In [42]:
group = ord_pay_items_prod.groupby(by = ['customer_state','ordered_hour']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='customer_state')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

                 customer_state revenue                                      \
ordered_hour                          0       1      2      3      4      5
0                Andhra Pradesh  2102.0  1030.0  464.0  238.0  251.0  194.0
1             Arunachal Pradesh    33.0    12.0    5.0    4.0    4.0    6.0
2                  Chhattisgarh   198.0    94.0   51.0   44.0    9.0   16.0
3                         Delhi   121.0    36.0   35.0    8.0   13.0    9.0
4                           Goa     0.0     0.0    0.0    0.0    0.0    0.0
5                       Gujarat   314.0   115.0   44.0   24.0   13.0    9.0
6                       Haryana    60.0    38.0   12.0    6.0    3.0    7.0
7              Himachal Pradesh    19.0    10.0    1.0    6.0    0.0    0.0
8               Jammu & Kashmir    39.0    20.0   13.0    3.0    3.0    4.0
9                     Karnataka   144.0    45.0   38.0   15.0    5.0    8.0
10                       Kerala    45.0    14.0    3.0   28.0   12.0    1.0
11               Madhya Pradesh   102.0    39.0   15.0    4.0    3.0    5.0
12                  Maharashtra    68.0    13.0   16.0    6.0    1.0    0.0
13                       Orissa    17.0     7.0    0.0    1.0    1.0    1.0
14                       Punjab    12.0    13.0    2.0    1.0    1.0    0.0
15                    Rajasthan    27.0    10.0    4.0    0.0    1.0    1.0
16                   Tamil Nadu    45.0    23.0   59.0    9.0    7.0    9.0
17                Uttar Pradesh    19.0    20.0    3.0    1.0    2.0    2.0
18                  Uttaranchal     3.0     0.0    0.0    1.0    0.0    0.0
19                  West Bengal     6.0     6.0    1.0    1.0    0.0    1.0

                                    ...                                  \
ordered_hour      6      7       8  ...      14      15      16      17
0             400.0  932.0  2485.0  ...  6070.0  5871.0  6062.0  5370.0
1              24.0   27.0    49.0  ...    77.0    99.0   109.0   118.0
2              28.0  100.0   254.0  ...   575.0   460.0   590.0   510.0
3              32.0   58.0   147.0  ...   304.0   250.0   282.0   260.0
4               0.0    0.0     0.0  ...     1.0     0.0     1.0     0.0
5              47.0  133.0   300.0  ...   776.0   760.0   725.0   613.0
6              13.0   69.0   121.0  ...   222.0   186.0   176.0   241.0
7               4.0    8.0    24.0  ...    46.0    81.0    79.0    64.0
8               7.0   22.0    77.0  ...   123.0   127.0   114.0   137.0
9              19.0   74.0   136.0  ...   352.0   326.0   391.0   322.0
10             10.0   25.0    63.0  ...   112.0   136.0   142.0   113.0
11             18.0   41.0   137.0  ...   280.0   220.0   276.0   238.0
12             22.0   31.0    72.0  ...   249.0   193.0   191.0   148.0
13              3.0    8.0    24.0  ...    60.0    41.0    55.0    57.0
14              7.0    8.0    36.0  ...    57.0    59.0    47.0    42.0
15              4.0    9.0    36.0  ...    80.0    75.0    82.0    47.0
16              9.0   60.0    95.0  ...   176.0   242.0   166.0   155.0
17              6.0   13.0    63.0  ...    88.0   110.0   122.0    74.0
18              0.0    1.0     6.0  ...     5.0     8.0     5.0    15.0
19              1.0    6.0    36.0  ...    45.0    21.0    26.0    18.0


ordered_hour      18      19      20      21      22      23
0             5171.0  4921.0  4911.0  5219.0  4824.0  3559.0
1               65.0    88.0   162.0   108.0    62.0    69.0
2              468.0   573.0   576.0   533.0   470.0   368.0
3              276.0   275.0   294.0   240.0   265.0   174.0
4                0.0     0.0     1.0     2.0     0.0     0.0
5              661.0   590.0   687.0   578.0   611.0   365.0
6              212.0   212.0   184.0   161.0   158.0   146.0
7               58.0    49.0    36.0    49.0    78.0    33.0
8              126.0   146.0   211.0   121.0   171.0    84.0
9              369.0   312.0   374.0   269.0   376.0   196.0
10              92.0   118.0   131.0   122.0   219.0    95.0
11             189.0   218.0   238.0   291.0   236.0   196.0
12             190.0   157.0   161.0   156.0   142.0    97.0
13              36.0    42.0    50.0    49.0    46.0    36.0
14              34.0    47.0    60.0    59.0    44.0    39.0
15              83.0    61.0    57.0    65.0    48.0    36.0
16             148.0   211.0   180.0   174.0   156.0    72.0
17              68.0    66.0    84.0    68.0    70.0    72.0
18               9.0     8.0     9.0    12.0     5.0     7.0
19              31.0    24.0    36.0   103.0    47.0    17.0

[20 rows x 25 columns]

e.sales by payment

In [43]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_hour']).agg(revenue = ('payment_value','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

             payment_type    revenue                                           \
ordered_hour                       0          1         2         3         4
0                     UPI   84011.70   33762.83  12101.78  10494.14   7192.95
1             credit_card  363172.41  168534.78  77462.25  36809.04  27383.99
2              debit_card    6422.32     805.84    378.45   2189.71    138.91
3                 voucher   11327.18    4667.40   2016.20    887.89    924.52

                                                        ...              \
ordered_hour         5         6          7          8  ...          14
0              7371.94  15095.71   54968.66  137118.28  ...   331593.04
1             21596.45  61964.93  155895.16  434683.98  ...  1093028.21
2               204.67   2681.18    6366.87   12768.46  ...    13151.10
3               860.67    775.91    4161.01    9961.43  ...    23863.77

                                                                       \
ordered_hour          15          16         17         18         19
0              323228.48   300048.58  254532.23  226084.93  168314.04
1             1128060.51  1061015.06  947751.72  952371.33  959822.80
2               18618.72    15028.28   10936.83   14712.48   11406.99
3               24751.75    26083.29   25174.93   21120.81   31252.10


ordered_hour         20         21         22         23
0             177181.32  162178.30  147662.36   95323.39
1             988204.47  976937.56  903118.93  626805.42
2              21950.28   14701.63   20712.58   10136.80
3              25540.98   27918.33   28014.25   17127.44

[4 rows x 25 columns]

f.quantity by payment

In [44]:
group = ord_pay_items_prod.groupby(by = ['payment_type','ordered_hour']).agg(revenue = ('order_item_id','sum')).reset_index()

pivot = group.pivot(columns=['ordered_hour'] , index='payment_type')

pivot.reset_index(inplace=True)

pivot.fillna(0,inplace=True)

pivot

             payment_type revenue                                             \
ordered_hour                    0       1      2      3      4      5      6
0                     UPI   558.0   272.0  105.0  103.0   66.0   97.0  131.0
1             credit_card  2477.0  1188.0  606.0  263.0  248.0  163.0  476.0
2              debit_card    51.0    11.0    7.0   18.0    2.0    4.0   30.0
3                 voucher   288.0    74.0   48.0   16.0   13.0    9.0   17.0

                              ...                                          \
ordered_hour       7       8  ...      14      15      16      17      18
0              368.0  1019.0  ...  2213.0  2083.0  2055.0  1749.0  1416.0
1             1165.0  2923.0  ...  6897.0  6716.0  6982.0  6328.0  6353.0
2               32.0    53.0  ...   107.0   125.0   127.0   101.0   107.0
3               60.0   166.0  ...   481.0   341.0   477.0   364.0   410.0


ordered_hour      19      20      21      22      23
0             1412.0  1448.0  1315.0  1186.0   842.0
1             6214.0  6293.0  6479.0  6179.0  4412.0
2              102.0   159.0   119.0   123.0    69.0
3              390.0   542.0   466.0   540.0   338.0

[4 rows x 25 columns]

f. Popular Products by month, seller, state, category.

In [45]:
# from previous merged taable just merging sellers table

ord_pay_items_prod_seller = pd.merge(left = ord_pay_items_prod , right = sellers , left_on = 'seller_id' ,right_on = 'seller_id' , how = 'left')

group = ord_pay_items_prod_seller.groupby(by = ['ordered_year','ordered_month','product_id','seller_id','seller_state','product_category_name']).agg(quantity = ('order_item_id','sum')).reset_index()

top_5_by_month = group.groupby(by = ['ordered_year','ordered_month']).apply(lambda x: x.nlargest(5, 'quantity')).reset_index(drop=True)

top_5_by_month_pivot = top_5_by_month.pivot(index=['product_id','seller_id','seller_state','product_category_name'], columns= ['ordered_year','ordered_month']).reset_index()

top_5_by_month_pivot.fillna(0,inplace=True)

top_5_by_month_pivot

                                     product_id  \
ordered_year
ordered_month
0              03e1c946c0ddfc58724ff262aef08dff
1              0449db5eede617c5fd413071d582f038
2              0554911df28fda9fd668ce5ba5949695
3              05b515fdc76e888aada3c6d66c201dff
4              16ce899c7af0c99f46948734a0d00f0f
..                                          ...
76             ecbe1ef7e2903ff8b1d704ba78fa264d
77             ee3d532c8a438679776d222e997606b3
78             f1c7f353075ce59d8a6f3cf58f419c9c
79             f293394c72c9b5fafd7023301fc21fc2
80             f5d8f4fbc70ca2a0038b9a0010ed5cb0

                                      seller_id    seller_state  \
ordered_year
ordered_month
0              98dac6635aee4995d501a3972e047414  Andhra Pradesh
1              21e83881401b92b49fb09a16d3852291  Andhra Pradesh
2              7c67e1448b00f6e969d365cea6b010ab  Andhra Pradesh
3              2709af9587499e95e803a6498a5a56e9  Andhra Pradesh
4              0725b8c0f3f906e58f70cbe76b7c748c  Andhra Pradesh
..                                          ...             ...
76             c3cfdc648177fdbbbb35635a37472c53  Andhra Pradesh
77             8e6d7754bc7e0f22c96d255ebda59eba  Andhra Pradesh
78             37be5a7c751166fbc5f8ccba4119e043  Andhra Pradesh
79             1554a68530182680ad5c8b042c3ab563       Karnataka
80             48efc9d94a9834137efd9ea76b065a38  Andhra Pradesh

                  product_category_name quantity                             \
ordered_year                                2016            2017
ordered_month                                  9   10   12     1    2     3
0                            Housewares      0.0  0.0  0.0   0.0  0.0   0.0
1                          Garden_Tools      0.0  0.0  0.0   0.0  0.0  36.0
2                      Office_Furniture      0.0  0.0  0.0   0.0  0.0   0.0
3                         Health_Beauty      0.0  0.0  0.0   0.0  0.0   0.0
4                            Stationery      0.0  0.0  0.0  25.0  0.0   0.0
..                                  ...      ...  ...  ...   ...  ...   ...
76                       Sports_Leisure      0.0  0.0  0.0   0.0  0.0  26.0
77                Computers_Accessories      0.0  0.0  0.0   0.0  0.0   0.0
78                       Bed_Bath_Table      0.0  0.0  0.0   0.0  0.0   0.0
79                      Furniture_Decor      2.0  0.0  0.0   0.0  0.0   0.0
80             Fashion_Bags_Accessories      0.0  0.0  1.0   0.0  0.0   0.0

               ...
ordered_year   ...      2018
ordered_month  ...   12    1      2    3    4    5    6    7    8    9
0              ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1              ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2              ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3              ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4              ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..             ...  ...  ...    ...  ...  ...  ...  ...  ...  ...  ...
76             ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
77             ...  0.0  0.0  211.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
78             ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
79             ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
80             ...  0.0  0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[81 rows x 28 columns]

g. Popular categories by state, month

In [46]:
# in terms of quantity which customer state is buying more products in terms of category

group = ord_pay_items_prod_seller.groupby(by = ['ordered_year','ordered_month','product_category_name','customer_state']).agg(quantity = ('order_item_id','sum')).reset_index()

Top_5_cat = group.groupby(by = ['ordered_year','ordered_month']).apply(lambda x: x.nlargest(5, 'quantity')).reset_index(drop=True)

Top_5_cat = Top_5_cat.pivot(index=['product_category_name','customer_state'],columns=['ordered_year','ordered_month']).reset_index()

Top_5_cat.fillna(0,inplace=True)

Top_5_cat

                                 product_category_name     customer_state  \
ordered_year
ordered_month
0                                       Bed_Bath_Table     Andhra Pradesh
1                                Computers_Accessories     Andhra Pradesh
2                             Fashion_Bags_Accessories     Andhra Pradesh
3                                      Furniture_Decor     Andhra Pradesh
4                                      Furniture_Decor  Arunachal Pradesh
5                                      Furniture_Decor            Gujarat
6                                         Garden_Tools     Andhra Pradesh
7                                        Health_Beauty     Andhra Pradesh
8                                           Housewares     Andhra Pradesh
9              Kitchen_Dining_Laundry_Garden_Furniture     Andhra Pradesh
10                                        Market_Place     Andhra Pradesh
11                                           Perfumery     Andhra Pradesh
12                                      Sports_Leisure     Andhra Pradesh
13                                       Watches_Gifts     Andhra Pradesh

              quantity                                                ...  \
ordered_year      2016              2017                              ...
ordered_month        9    10   12      1      2      3      4      5  ...
0                  0.0   0.0  0.0    0.0  124.0  250.0  194.0  299.0  ...
1                  0.0  21.0  0.0    0.0    0.0    0.0    0.0  280.0  ...
2                  0.0   0.0  1.0    0.0    0.0    0.0    0.0    0.0  ...
3                  0.0  78.0  0.0  174.0  209.0  288.0  150.0  250.0  ...
4                  0.0   0.0  0.0   36.0    0.0    0.0    0.0    0.0  ...
5                  3.0   0.0  0.0    0.0    0.0    0.0    0.0    0.0  ...
6                  0.0   0.0  0.0  147.0    0.0    0.0    0.0    0.0  ...
7                  6.0  30.0  0.0   39.0  104.0  144.0  116.0    0.0  ...
8                  0.0   0.0  0.0    0.0   64.0  172.0  148.0  268.0  ...
9                  0.0   0.0  0.0    0.0    0.0    0.0    0.0    0.0  ...
10                 0.0  28.0  0.0    0.0    0.0    0.0    0.0    0.0  ...
11                 0.0  31.0  0.0    0.0    0.0    0.0    0.0    0.0  ...
12                 0.0   0.0  0.0   61.0   99.0  163.0  139.0  262.0  ...
13                 0.0   0.0  0.0    0.0    0.0    0.0    0.0    0.0  ...

                                                                              \
ordered_year           2018
ordered_month     12      1      2      3      4      5      6      7      8
0              472.0  718.0  557.0  693.0  662.0  694.0  621.0  517.0  545.0
1                0.0  546.0  942.0  634.0  411.0    0.0    0.0  337.0    0.0
2                0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3              371.0  518.0  374.0  571.0  542.0  503.0  321.0  403.0  444.0
4                0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5                0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6              356.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
7              330.0  467.0  474.0  472.0  562.0  654.0  701.0  614.0  657.0
8                0.0    0.0    0.0    0.0    0.0  651.0  662.0  492.0  572.0
9                0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
10               0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
11               0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12             378.0  440.0  449.0  594.0  474.0    0.0  361.0    0.0  353.0
13               0.0    0.0    0.0    0.0    0.0  473.0    0.0    0.0    0.0


ordered_year
ordered_month    9
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              1.0
10             0.0
11             0.0
12             0.0
13             0.0

[14 rows x 26 columns]

h. List top 10 most expensive products sorted by price

In [47]:
# it includes products which are delivered,invoiced,shipped,processing,created,approved
group = ord_pay_items_prod_seller.groupby(by = 'product_id').agg(price = ('price','sum'),qty = ('order_item_id','sum')).reset_index()

group['avg_price'] = group['price'] / group['qty']

group.sort_values(by = 'avg_price',ascending = False,inplace=True)

Top_10_prod = group.reset_index(drop=True).head(10)

Top_10_prod = Top_10_prod[['product_id','avg_price']]

Top_10_prod

                         product_id  avg_price
0  489ae2aa008f021502940f251d4cce7f    6735.00
1  69c590f7ffc7bf8db97190b6cb6ed62e    6729.00
2  1bdf5e6731585cf01aa8169c7028d6ad    6499.00
3  a6492cc69376c469ab6f61d8f44de961    4799.00
4  c3ed642d592594bb648ff4a04cee2747    4690.00
5  259037a6a41845e455183f89c5035f18    4590.00
6  a1beef8f3992dbd4cd8726796aa69c53    4399.87
7  6cdf8fc1d741c76586d8b6b15e9eef30    4099.99
8  6902c1962dd19d540807d0ab8fade5c6    3999.90
9  4ca7b91a31637bd24fb8e559d5e015e4    3999.00

a. Divide the customers into groups based on the revenue generated

In [48]:
# it includes products which are delivered,invoiced,shipped,processing,created,approved

group = ord_pay_items_prod_seller.groupby(by = 'customer_id').agg(revenue = ('payment_value','sum')).reset_index()

group['cust_groups'] = pd.qcut(group['revenue'],q=10,labels=['0-39.69','39.70-55.0','55.01-69.83','69.84-87.70','87.71-109.65','109.66-136.60','136.61-171.32','171.33-228.93','228.94-384.82','384.83-109312.64'])

group.groupby(by = 'cust_groups').agg(no_of_customers = ('customer_id','count') , total_revenue = ('revenue','sum'))

                  no_of_customers  total_revenue
cust_groups
0-39.69                      9823      307892.08
39.70-55.0                   9834      464948.76
55.01-69.83                  9806      612519.80
69.84-87.70                  9825      770826.09
87.71-109.65                 9817      967485.23
109.66-136.60                9819     1202402.66
136.61-171.32                9826     1504189.26
171.33-228.93                9815     1936836.72
228.94-384.82                9821     2884634.61
384.83-109312.64             9821     9505355.43

b. Divide the sellers into groups based on the revenue generated

In [49]:
# it includes products which are delivered,invoiced,shipped,processing,created,approved

group = ord_pay_items_prod_seller.groupby(by = 'seller_id').agg(revenue = ('prod_value','sum')).reset_index()

group['seller_group'] = pd.qcut(group['revenue'] , q = 10,labels=['3.499-86.72','86.73-177.86','177.87-337.55','337.56-598.94','598.95-968.8','968.81-1588.50','1588.51-2881.86','2881.87-5395.46','5395.47-11123.57','11123.58-305859.75'])
                                               

group.groupby(by = 'seller_group').agg(no_of_sellers = ('seller_id','count') , total_revenue = ('revenue','sum'))

                    no_of_sellers  total_revenue
seller_group
3.499-86.72                   306       14795.34
86.73-177.86                  305       39603.87
177.87-337.55                 305       75632.78
337.56-598.94                 305      138391.70
598.95-968.8                  306      237740.63
968.81-1588.50                305      388872.65
1588.51-2881.86               305      657131.43
2881.87-5395.46               305     1215247.70
5395.47-11123.57              305     2409592.29
11123.58-305859.75            306    10777498.50

3. Cross-Selling (Which products are selling together)
Hint: We need to find which of the top 10 combinations of products are selling together in 
each transaction. (combination of 2 or 3 buying together)

In [50]:
new = ord_pay_items_prod_seller[['order_id','product_id']]

new = pd.merge(left = new , right = new , left_on = 'order_id' , right_on = 'order_id' , how = 'left')

new = new[new['product_id_x'] < new['product_id_y']]

group = new.groupby(by = ['product_id_x','product_id_y']).agg(no_of_comb = ('order_id','count')).reset_index()

top_10 = group.sort_values(by = 'no_of_comb' , ascending= False).reset_index(drop = True)

top_10 = top_10.head(10)

merge_1 = pd.merge(left = top_10 , right = products , left_on = 'product_id_x' ,right_on = 'product_id' , how = 'left')

merge_1 = merge_1[['product_id_x','product_id_y','no_of_comb','product_category_name']]

merge_1.columns = ['product_1' , 'product_2','no_of_comb', 'product_1_category_name']

merge_2 = pd.merge(left = merge_1 , right = products , left_on = 'product_2' ,right_on = 'product_id' , how = 'left')

merge_2 = merge_2[['product_1','product_2','no_of_comb','product_1_category_name','product_category_name']]

merge_2.columns = ['product_1', 'product_2', 'no_of_comb', 'product_1_category_name','product_2_category_name']

merge_2

,product_1,product_2,no_of_comb,product_1_category_name,product_2_category_name
0,5ddab10d5e0a23acb99acf56b62b3276,ebf9bc6cd600eadd681384e3116fda85,882,Housewares,Bed_Bath_Table
1,2b939dc9b176d7fa21594d588815d4a4,d1c427060a0f73f6b889a5c7c61f2ac4,144,Luggage_Accessories,Computers_Accessories
2,05b515fdc76e888aada3c6d66c201dff,270516a3f41dc035aa87d220228f844c,100,Health_Beauty,Health_Beauty
3,18796df281656da4036dd926561a6030,ebf7d9b8166c02eb72e573eebd630458,100,Bed_Bath_Table,Bed_Bath_Table
4,36f60d45225e60c7da4558b070ce4b60,e53e557d5a159f5aa2c5e995dfdf244b,48,Computers_Accessories,Computers_Accessories
5,45e9db074ca64dc81ee6f06185544d6e,9c7bdf67b06b419aefb93cfdfc96c55d,36,Health_Beauty,Sports_Leisure
6,24aba57735be13fd785bc04d1a8812e4,4754d89182db4010eabbf20da5fb7191,36,NaN,Housewares
7,62995b7e571f5760017991632bbfd311,ac1ad58efc1ebf66bfadc09f29bdedc0,36,Housewares,Housewares
8,710b7c26b7a742f497bba45fab91a25f,a9d9db064d4afd4458eb3e139fe29167,36,Housewares,Housewares
9,19944bc70a13c9b62e18a2bc7e913bb6,85d4c1a46f08f730de651ea6f6645313,36,Housewares,Stationery

a.How customers are paying?

In [51]:
payment_type = ord_pay_items_prod_seller['payment_type'].unique()

payment_type =pd.DataFrame(payment_type)

payment_type.drop(index = 4,inplace= True)

payment_type

             0
0  credit_card
1      voucher
2          UPI
3   debit_card

b. Which payment channels are used by most customers?

In [52]:
ord_pay_items_prod_seller.groupby(by = 'payment_type').agg(revenue = ('payment_value','sum'), no_of_cust = ('customer_unique_id','nunique'),no_of_transactions = ('order_id','nunique')).reset_index()

  payment_type      revenue  no_of_cust  no_of_transactions
0          UPI   4029492.12       19056               19539
1  credit_card  15473712.92       73270               75618
2   debit_card    250845.88        1500                1515
3      voucher    403039.72        3654                3745

a. Which categories (top 10) are maximum rated & minimum rated?

In [53]:
# we merge order_review_ratings with previous merge

ord_pay_items_prod_seller_reviews = pd.merge(left = ord_pay_items_prod_seller , right = order_review_ratings , left_on = 'order_id' , right_on = 'order_id' , how = 'left')

top_10_max_review = ord_pay_items_prod_seller_reviews.groupby(by = 'product_category_name').agg(max_rated = ('review_score','mean')).reset_index()

top_10_max_review = top_10_max_review.sort_values(by = 'max_rated',ascending=False).reset_index(drop = True)

top_10_max_review = top_10_max_review.head(10)

top_10_max_review.columns = ['max_review_category','max_review_rated']


bottom_10_min_review = ord_pay_items_prod_seller_reviews.groupby(by = 'product_category_name').agg(min_rated = ('review_score','mean')).reset_index()

bottom_10_min_review = bottom_10_min_review.sort_values(by = 'min_rated',ascending=True).reset_index(drop = True)

bottom_10_min_review = bottom_10_min_review.head(10)

bottom_10_min_review.columns = ['min_review_category','min_review_rated']

reviews = pd.concat([top_10_max_review,bottom_10_min_review],axis=1)

reviews

,max_review_category,max_review_rated,min_review_category,min_review_rated
0,Cds_Dvds_Musicals,4.642857,Security_And_Services,2.500000
1,Fashion_Childrens_Clothes,4.500000,Diapers_And_Hygiene,3.315789
2,Books_General_Interest,4.467742,Home_Comfort_2,3.387097
3,Books_Imported,4.419355,Office_Furniture,3.517068
4,Books_Technical,4.345588,Fashion_Male_Clothing,3.548611
5,Food_Drink,4.335640,Fixed_Telephony,3.701493
6,Costruction_Tools_Tools,4.333333,Fashio_Female_Clothing,3.780000
7,Small_Appliances_Home_Oven_And_Coffee,4.320513,Furniture_Mattress_And_Upholstery,3.804878
8,Luggage_Accessories,4.301984,Audio,3.831579
9,Fashion_Sport,4.258065,Furniture_Bedroom,3.841270

b. Which products (top10) are maximum rated & minimum rated?

In [54]:
top_10_max_review = ord_pay_items_prod_seller_reviews.groupby(by = 'product_id').agg(max_rated = ('review_score','mean')).reset_index()

top_10_max_review = top_10_max_review.sort_values(by = 'max_rated',ascending=False).reset_index(drop = True)

top_10_max_review = top_10_max_review.head(10)

top_10_max_review.columns = ['max_review_product','max_review_rated']


bottom_10_min_review = ord_pay_items_prod_seller_reviews.groupby(by = 'product_id').agg(min_rated = ('review_score','mean')).reset_index()

bottom_10_min_review = bottom_10_min_review.sort_values(by = 'min_rated',ascending=True).reset_index(drop = True)

bottom_10_min_review = bottom_10_min_review.head(10)

bottom_10_min_review.columns = ['min_review_product','min_review_rated']

reviews = pd.concat([top_10_max_review,bottom_10_min_review],axis=1)

reviews

,max_review_product,max_review_rated,min_review_product,min_review_rated
0,00066f42aeeb9f3007548bb9d3f33c38,5.0,7f7a6b07907da42addc3ec06b4a62cfb,1.0
1,60349023b5385947aa3a395689868518,5.0,298c21a512703083ec4bc4976ea99de8,1.0
2,5fef486f2057e10fd91e167348812b7a,5.0,b82b4d3344aef4d70bc9acfc8a5fe2de,1.0
3,5ff4076c0f01eeba4f728c9e3fa2653c,5.0,b825640a6e030d36a45c34eed447a07a,1.0
4,c6ab3d8f4227913c4fa99e94ef84aa70,5.0,b81acdcca96f82c5ee01cb299f086a91,1.0
5,5ff59c5f2db7600fa8143442c8b1e4f6,5.0,b808914cdb615d812fd24aab699cf952,1.0
6,5ffa5bcfb017e836862c86ec3fbf9045,5.0,29e322a868c120531516ca05238032f2,1.0
7,5ffd443a2b6ec639a1e28bc11936455a,5.0,b7db1a22a9e89c9749d7386c4f0ff639,1.0
8,5ffeff2ac45b628674ce03e75ce4d6e3,5.0,29e95a1298e19d0e48f89702c09c6ab5,1.0
9,c6aa164ce2d179e87318dacf63ba9d9f,5.0,b7be32135142911c4a0f4d17ceb23497,1.0

c. Average rating by location, seller, product, category, month etc

In [55]:
average_ratings = ord_pay_items_prod_seller_reviews.groupby(by = ['seller_state','seller_id','product_id','product_category_name','ordered_year','ordered_month']).agg(avg_rating = ('review_score','mean')).reset_index()

average_ratings = average_ratings.groupby(by = ['ordered_year','ordered_month']).apply(lambda x: x.nlargest(5, 'avg_rating')).reset_index(drop=True)

average_ratings.sort_values(by = ['ordered_year','ordered_month'] , ascending = [True , True],inplace=True)

average_ratings

,seller_state,seller_id,product_id,product_category_name,ordered_year,ordered_month,avg_rating
0,Andhra Pradesh,ecccfa2bb93b34a3bf033cc5d1dcdc69,5a6b04657a4c5ee34285d1e4619a96b4,Health_Beauty,2016,9,1.0
1,Karnataka,1554a68530182680ad5c8b042c3ab563,c1488892604e4ba5cff5b4eb4d595400,Furniture_Decor,2016,9,1.0
2,Karnataka,1554a68530182680ad5c8b042c3ab563,f293394c72c9b5fafd7023301fc21fc2,Furniture_Decor,2016,9,1.0
3,Andhra Pradesh,024b564ae893ce8e9bfa02c10a401ece,d9894482fba41f536a273ba2276d951f,Market_Place,2016,10,5.0
4,Andhra Pradesh,0c8380b62e38e8a1e6adbeba7eb9688c,b6f134ff2933bb0ee1f36e2865f21a91,Furniture_Decor,2016,10,5.0
...,...,...,...,...,...,...,...
105,Andhra Pradesh,01266d4c46afa519678d16a8b683d325,3fc23ad64a8ee1f1451c8c44932c5d22,Costruction_Tools_Tools,2018,8,5.0
106,Andhra Pradesh,01266d4c46afa519678d16a8b683d325,df473738565b52f77b4e22b328b41576,Costruction_Tools_Tools,2018,8,5.0
107,Andhra Pradesh,0241d4d5d36f10f80c644447315af0bd,114cf6e338f90a48f7fae837c70e8325,Furniture_Decor,2018,8,5.0
108,Andhra Pradesh,0241d4d5d36f10f80c644447315af0bd,3e845176ca89939bffd10efd3467a090,Furniture_Decor,2018,8,5.0
109,Andhra Pradesh,25be943a321c8938947bdaabca979a90,b98992ea80b467987a7fbb88e7f2076a,Kitchen_Dining_Laundry_Garden_Furniture,2018,9,1.0